src/app/code/local/EbayEnterprise/Eb2cCore/xsd/AcknowledgementV11.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Manish Vijayvergiya (GSI Commerce) -->
<!--W3C Schema generated by XMLSpy v2010 sp1 (http://www.altova.com)-->
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cm="http://www.tm-xml.org/XMLSchema/common" elementFormDefault="qualified">
	<xsd:annotation>
		<xsd:documentation xml:lang="en-US">Acknowledgement API for V11 Platform  $Rev: 285 $</xsd:documentation>
		<xsd:documentation>$Id: AcknowledgementV11.xsd 285 2012-01-18 17:39:23Z loweryt $</xsd:documentation>
		<xsd:documentation>$URL: http://svn.gspt.net/phx/ph-schemas/branches/v2.3_1/XSD/AcknowledgementV11.xsd $</xsd:documentation>
		<xsd:documentation>December 1, 2011 Version 2.3 </xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="CommonTypes.xsd"/>
	<xsd:element name="Acknowledgement">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MessageHeader" type="MessageHeaderType">
					<xsd:annotation>
						<xsd:documentation>Encapsulates message Routing data.  The elements included in this grouping are standard across all messages.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="FileName" type="Simple.StringType.132">
					<xsd:annotation>
						<xsd:documentation>Original File Name of the message being acknowledged.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ReceivedDateAndTime" type="Simple.DateTime.Type">
					<xsd:annotation>
						<xsd:documentation>Received date and time of the original message. Following ISO 8601 with offset.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ReferenceMessageId" type="Simple.StringType.20">
					<xsd:annotation>
						<xsd:documentation>The Message Id of the message being acknowledged</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="CustomAttributes" type="Complex.Custom.Attribute" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>CustomAttributes are name/value paris. A locale is included for the value.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
