src/app/code/local/EbayEnterprise/Eb2cCore/xsd/ConfirmationV11.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Manish Vijayvergiya (GSI Commerce) -->
<!--W3C Schema generated by XMLSpy v2010 sp1 (http://www.altova.com)-->
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cm="http://www.tm-xml.org/XMLSchema/common" xmlns:xml="http://www.w3.org/XML/1998/namespace" elementFormDefault="qualified">
	<xsd:annotation>
		<xsd:documentation>Confirmation API for V11 Platform $Rev: 291 $ </xsd:documentation>
		<xsd:documentation>$Id: ConfirmationV11.xsd 291 2012-01-18 20:02:32Z loweryt $</xsd:documentation>
		<xsd:documentation>$URL: http://svn.gspt.net/phx/ph-schemas/branches/v2.3_1/XSD/ConfirmationV11.xsd $</xsd:documentation>
		<xsd:documentation>December 1, 2011 Version 2.3 </xsd:documentation>	
	</xsd:annotation>
	<xsd:include schemaLocation="CommonTypes.xsd"/>
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<xsd:element name="Confirmation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MessageHeader" type="MessageHeaderType">
					<xsd:annotation>
						<xsd:documentation>Encapsulates message Routing data.  The elements included in this grouping are standard across all messages.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="gsi_client_id" type="Simple.ClientID.Type">
					<xsd:annotation>
						<xsd:documentation>The identifier provided by GSI for an individual or organization that has a contractual relationship with GSI in which GSI is providing e-commerce, fulfillment or other services.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="gsi_store_id" type="Simple.StringType.32">
					<xsd:annotation>
						<xsd:documentation>GSI assigned store id for the client’s web store.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="gsi_catalog_id" type="Simple.StringType.32" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>GSI assigned unique catalog id for client.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="FacilityId" type="Simple.StringType.32">
					<xsd:annotation>
						<xsd:documentation>Unique identifier assigned to the facility housing the goods, typically a distribution center or physical warehouse.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ExternalReferenceFacilityId" type="Simple.StringType.32" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>The unique identifier that maps to what an external client/facility uses to identify their facility. This field also used to identify the Client’s Retail Store Code.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ReferenceMessageId" type="Simple.StringType.20" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>The Message Id of the message being confirmed.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="FileName" type="Simple.StringType.132" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>File name of the original Message.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ReferenceTransaction" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="TransactionId" type="Simple.StringType.35">
								<xsd:annotation>
									<xsd:documentation>The  Unique primary Id of the message being confirmed for e.g. OMSOrderId in OrdersToFulfill, PONumber in PurchaseOrder, ASNNumber in ASN etc.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TransactionType" type="Simple.StringType.35" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The Type of Transaction  id provided , especially in case of more than one primary key  for e.g. CustomerOrderId.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TransactionDateAndTime" type="xsd:dateTime" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Date and time when original transaction was sent following  ISO 8601 standard with offset from UTC.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TransactionStatus" type="Simple.StringType.35">
								<xsd:annotation>
									<xsd:documentation>The status of the Transaction being confirmed.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TransactionDetail" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="DetailType" type="Simple.StringType.35" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation/>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="DetailValue" type="Simple.StringType.35" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The Value associated with the DetailType.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Error" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="ErroneousElement" type="Simple.StringType.132" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The element which caused the error on the transaction.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="ErrorCode" type="Simple.StringType.132" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The code used to describe the error that occurred when the destination system attempted to receive/process the message.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="ErrorDescription" type="Simple.StringType.132" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The standard free form description associated with the error code of the message.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="CustomAttributes" type="Complex.Custom.Attribute" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>CustomAttributes are name/value paris. A locale is included for the value.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
