src/app/code/local/EbayEnterprise/Eb2cCore/xsd/Token-Create-Request-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schema.gspt.net/token/1.0" xmlns="http://schema.gspt.net/token/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="Token-Common.xsd"/>
	<xsd:element name="TokenCreateRequest" nillable="false" type="TokenCreateRequestType"/>
	<xsd:complexType name="TokenCreateRequestType">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="Data" type="DataType"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
