src/app/code/community/EbayEnterprise/Order/xsd/xsd/types/OrderItem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://api.gsicommerce.com/schema/events/1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://api.gsicommerce.com/schema/events/1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="Address.xsd"/>
	<xs:complexType name="OrderItem">
		<xs:annotation xml:lang="en">
			<xs:documentation>
                Used in Order for product lines.
            </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TransactionType" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AvailabilityFlag" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies if the item is available for shipment.
Allowable Values: Boolean
True - item is available
False - item is not available
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsItemLarge" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies if the item is oversized and requires special shipping or handling.
Allowable Values: Boolean
True - item is large and requires special shipping/handling
False - item is not oversized
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LineItemNumber" type="xs:positiveInteger">
				<xs:annotation>
					<xs:documentation>Specifies to which line in the order the item belongs.
Allowable Values: Integer
Required: Yes
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubLineItemNumber" type="xs:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies to which subline in the order the item belongs.
Allowable Values: Integer
Required: Yes
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Product" type="ProductType" minOccurs="0"/>
			<xs:element name="QtyRemainingOnSalesOrderLine" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Allowable Values: Decimal
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderItemKind" type="OrderItemKindType">
				<xs:annotation>
					<xs:documentation>Allowable Values: Text string
Required: Yes
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReturnByDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Last date by which the customer can return the order.
Allowable Values: ISO 8601 standard with offset from UTC in datetime data format which is yyyy-mm-ddTHH:mm:ss-hh:mm for e.g. 2012-01-11T14:19:05-06:00.
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReturnWindowInDays" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number of days from when the order is delivered until it cannot be returned.
Allowable Values: Integer
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MarketplaceAuctionID" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Aution ID for a MarketPlace, 
Allowable Values: Text string
Required: This is required for CA/US Marketplace implementation
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MarketplaceCASiteName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Channel Advisor Site name,
Allowable Values: Text string
Required: Required for CA/US Marketplace implementation
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShippingMethod" minOccurs="0">
				<xs:complexType mixed="true">
					<xs:attribute name="displayText" type="xs:string">
						<xs:annotation>
							<xs:documentation>Describes the selected shipping method.
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="ShippingMethodName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ShippingMethodName is the free form localized string that will appear on Email templates to be sent to the end customer as to what the actual ShippingMethod was. This field is for display purposes only. 
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CarrierServiceCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShippingInfo" type="ShippingInfoType" minOccurs="0"/>
			<xs:element name="EstimatedShipDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date the order is expected to ship.
Allowable Values: ISO 8601 standard with offset from UTC in datetime data format which is yyyy-mm-ddTHH:mm:ss-hh:mm for e.g. 2012-01-11T14:19:05-06:00g
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NamedDayDeliveryDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date the order is expected to arrive at its destination.
Allowable Values: ISO 8601 standard with offset from UTC in datetime data format which is yyyy-mm-ddTHH:mm:ss-hh:mm for e.g. 2012-01-11T14:19:05-06:00g
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NamedDayDeliveryTimeSlotStart" type="xs:time" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Earliest time the shipment is expected to be delivered on the specified delivery date.
Allowable Values: Time, in HH:MM:SS format
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NamedDayDeliveryTimeSlotEnd" type="xs:time" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Latest time the shipment is expected to be delivered on the specified delivery date.
Allowable Values: Time, in HH:MM:SS format
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BackOrderMessage" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Message that is included in email notification that an item is backordered..
Allowable Values: Text String
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EDDMessage" type="EDDMessageType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This message is the place holder for Delivery Messages. It could either be the Estimated Deliver Date Message or Named Day Delivery Message</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistryNamesMessage" type="RegistryNamesMessageType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains the registry informatin (bridal, baby shower, etc.) where the item resided.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WishlistId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the item's identifier if it was on a wishlist.
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderItemFeatureList" type="ItemFeatureListType" minOccurs="0"/>
			<xs:element name="WarrantyAssociation" type="WarrantyAssociationType" minOccurs="0"/>
			<xs:element name="TrackingNumberList" type="TrackingNumberListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>List of all shipment tracking information for the order. There may be multiple occurrences if the order is shipped in separate packages.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShippingAddress" type="OrderAddressType" minOccurs="0"/>
			<xs:element name="FulfillmentMethod" type="xs:string" minOccurs="0"/>
			<xs:element name="StoreFrontDetail" type="StoreLocation" minOccurs="0"/>
			<xs:element name="ProxyPickupDetail" type="ProxyPickupDetailType" minOccurs="0"/>
			<xs:element name="ReleaseStatuses" type="ReleaseStatusesType" minOccurs="0"/>
			<xs:element name="Duties" type="PriceType" minOccurs="0"/>
			<xs:element name="Fees" type="FeeListType" minOccurs="0"/>
			<xs:element name="ShippingAmount" type="PriceType" minOccurs="0"/>
			<xs:element name="GiftWrapAmount" type="PriceType" minOccurs="0"/>
			<xs:element name="ShopRunnerMessage" type="xs:string" minOccurs="0"/>
			<xs:element name="MarketplaceBasketId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Marketplace Basket Id which uniquely identifies a line on the Marketplace Orders. Different from the LineItemNumber and SublineItemNumber Nos in OMS as BasketId is a alpha-numeric field and a concatenation of two different fields.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderReturnReason" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The Marketplace implementation needs the Order Return Reason Code to be stamped on the Event Messages.</xs:documentation>
				</xs:annotation>
				<xs:complexType mixed="true">
					<xs:attribute name="reasonCode" type="xs:string" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="IsHiddenGift" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>An item may be flagged as a Hidden Gift via an
						ItemMaster feed, therefore V11 applications must be upgraded to
						allow this functionality. When an item is 'hidden', it is included
						in the shipment, but is not shown on the pack slip nor any emails.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Modifications" type="ModificationsType" minOccurs="0"/>
			<xs:element name="TaxCredit" type="TaxCreditType" minOccurs="0"/>
			<xs:element name="LoyaltyProgram" type="ItemLoyaltyProgramType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Item level data for Loyalty Programs</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubLineItems" type="SubLineItemsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kit line Items</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LineItemCancel" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="AdditionalValues" type="KeyValuePairList" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="optional">
			<xs:annotation>
				<xs:documentation>
                    Attribute is used for creating Relationship hierarchies.
                </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RegistryNamesMessageType">
		<xs:sequence>
			<xs:element name="RegistryId" type="xs:int">
				<xs:annotation>
					<xs:documentation>Number that identifies the registry.
Allowable Values: Integer
Required: Yes
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistryName" type="UserName">
				<xs:annotation>
					<xs:documentation>Name of the person who received the item in the registry.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="OrderItemKindType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
                Specifies the kinds of items that can be ordered. 
                A donation is an item which has no deliverable.
                bulkElectronics is for multiple electronic delivery items (Online/Digital/Virtual Gift Cards/)
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="physical"/>
			<xs:enumeration value="electronic"/>
			<xs:enumeration value="bulkElectronics"/>
			<xs:enumeration value="donation"/>
			<xs:enumeration value="warranty"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ShippingDelayType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Backorder"/>
			<xs:enumeration value="Pre-Sell"/>
			<xs:enumeration value="1stDelayNotification"/>
			<xs:enumeration value="AllocateCancelNotification"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ShippingInfoType">
		<xs:annotation>
			<xs:documentation>Shipping inifo defines groups of tiems that are shipped together, and the individual items within the group.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ShipGroup" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A unique identifier assigned to a group of items being shipped together.
Allowable Values: Integer
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShipGroupType" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Primarily used to print an indented pack slip.  
Allowable Values: KIT
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemGroup" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A unique identifier assigned to a group of items within a ship group
Allowable Values: Integer
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemGroupName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The name of a group of items within a shipment, for example, "Soccer starter kit", which might include a ball and a jersey.
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemGroupType" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EDDMessageType">
		<xs:sequence>
			<xs:element name="MessageType" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the day or date of the delivery.
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Template" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the template used to create the email message.
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Allowable Values: ISO 8601 standard with offset from UTC in datetime data format which is yyyy-mm-ddTHH:mm:ss-hh:mm for e.g. 2012-01-11T14:19:05-06:00g
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Allowable Values: ISO 8601 standard with offset from UTC in datetime data format which is yyyy-mm-ddTHH:mm:ss-hh:mm for e.g. 2012-01-11T14:19:05-06:00g
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WarrantyAssociationType">
		<xs:sequence>
			<xs:element name="WarrantyItem" type="xs:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Allowable Values: Integer
Required: No
Length: TBD
Default Value: blank
Restrictions: Must be a positive number.
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WarrantyItemTitle" type="UPCType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The partner-provided UPC for the warranty.
Allowable Values: Text string
Required: No
Length: 128
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TrackingNumberListType">
		<xs:sequence>
			<xs:element name="TrackingInfo" type="TrackingInfoType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Shipping number and web tracking information for the order.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TrackingInfoType">
		<xs:sequence>
			<xs:element name="TrackingNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Identifier assigned by the shipper to follow the location of a shipment.
Allowable Values: Text string
Required: yes
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrackingURL" type="xs:string">
				<xs:annotation>
					<xs:documentation>URL used to follow the location of a package while it's in transit.
Allowable Values: Text string
Required: Required
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrderItemMessageType">
		<xs:sequence>
			<xs:element name="To" type="xs:string" minOccurs="0"/>
			<xs:element name="From" type="xs:string" minOccurs="0"/>
			<xs:element name="Message" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProxyPickupDetailType">
		<xs:sequence>
			<xs:element name="ProxyName" type="xs:string" minOccurs="0"/>
			<xs:element name="ProxyFirstName" type="xs:string" minOccurs="0"/>
			<xs:element name="ProxyLastName" type="xs:string" minOccurs="0"/>
			<xs:element name="ProxyEmail" type="xs:string" minOccurs="0"/>
			<xs:element name="ProxyPhone" type="xs:string" minOccurs="0"/>
			<xs:element name="Address" type="ProxyPickupAddress" minOccurs="0"/>
			<xs:element name="Relationship" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReleaseStatusesType">
		<xs:sequence>
			<xs:element name="ReleaseStatus" type="ReleaseStatusType" maxOccurs="unbounded"/>
			<xs:element name="MinimumStatus" type="xs:string" minOccurs="0"/>
			<xs:element name="MaximumStatus" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReleaseStatusType">
		<xs:sequence>
			<xs:element name="ShipNode" type="xs:string"/>
			<xs:element name="Status" type="xs:string"/>
			<xs:element name="Description" type="xs:string"/>
			<xs:element name="Quantity" type="xs:string"/>
			<xs:element name="ShipmentQuantity" type="xs:string" minOccurs="0"/>
			<xs:element name="TotalQuantity" type="xs:string" minOccurs="0"/>
			<xs:element name="StatusDate" type="xs:string" minOccurs="0"/>
			<xs:element name="CancelReasonCode" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ItemLoyaltyProgramType">
		<xs:annotation>
			<xs:documentation>Item level data for Loyalty Programs</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BasePointsEarnedPerUnit" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                        The points earned per individual item including multiplier and without qty
                        (basePoints * multiplier)
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BonusPointsEarnedPerUnit" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                        Bonus Points earned that are added to the total of points earned excluding qty
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PointsMultiplierApplied" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                        The Points multiplier applied in BasePointsEarnedPerUnit
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemTotalPointsEarned" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                        Total points per line = bonus + (qty * sale price * multiplier)
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
