src/app/code/community/EbayEnterprise/Order/xsd/xsd/OrderEvents.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://api.gsicommerce.com/schema/events/1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://api.gsicommerce.com/schema/events/1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="Order.xsd"/>
	<xs:include schemaLocation="VATInvoice.xsd"/>
	<xs:include schemaLocation="OrderRejected.xsd"/>
	<xs:element name="OrderEvents">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MessageHeader">
					<xs:annotation>
						<xs:documentation>Encapsulates message routing data.  The elements included in this grouping are standard across all messages</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Standard" type="xs:string">
								<xs:annotation>
									<xs:documentation>Code identifying the schema controlling agency, for example, ebayenterprise
Allowable Values: Text string
Required: Yes
Length: N/A
Default Value: ebayenterprise
Restrictions: N/A
Aliases: N/A
Offering: ROM</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="HeaderVersion" type="xs:string">
								<xs:annotation>
									<xs:documentation>Version of the platform or framework being used.  Each new Header Version represents a significant improvement from a previous framework or platform. For example, a change from V9 to V10 and V10 to ECP represents a substantial change in the framework and would be a recommended upgrade point.  
Allowable Values: Text string
Required: Yes
Length: N/A
Default Value: NGP1.0
Restrictions: N/A
Aliases: N/A
Offering: ROM</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="VersionReleaseNumber" type="xs:string">
								<xs:annotation>
									<xs:documentation>A feature release within the current framework's message header version.  Each new release version represents a significant enrichments in the feature sets from a previous release.  For example, a change from Version 1.X.X to 2.X.X represents a substantial change in the framework and would be a recommended upgrade point.  A change in the number after the first decimal represents a minor upgrade/modification to the framework, where as the change in the number after last decimal represents a trivial fix and no upgrade necessary.
Allowable Values: Text string
Required: Yes
Length: N/A
Default Value: oldest release supported in production. for ex. 1.0.0
Restrictions: N/A
Aliases: N/A
Offering: ROM</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="SourceData">
								<xs:annotation>
									<xs:documentation>Encapsulates data related to the Source or the Sending system</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="SourceId" type="xs:string">
											<xs:annotation>
												<xs:documentation>Unique identifier of the System that originated the message. The SourceId is a unique identifier provided by the initiator of the message.  For those messages originating from an Order Management System (OMS), it would be the unique OMS identifier.  For those messages originating from a Warehouse Management System (WMS), it would be the unique WMS identifier.
Allowable Values: Text string
Required: Yes
Length: N/A
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: ROM</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="SourceType" type="xs:string">
											<xs:annotation>
												<xs:documentation>The descriptive category/name/code used to define the system that originated the message.
Allowable Values: 
OMS = Order Management System,
WMS = Warehouse Management System
PH= Product Hub,
FH= Fulfillment Hub.
Required: Yes
Length: N/A
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: ROM</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="DestinationData" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Encapsulates data related to the Destination or Receiving system</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DestinationId" type="xs:string">
											<xs:annotation>
												<xs:documentation>Unique identifier of the System that is the intended recipient of the message.  There can be multiple DestinationId/DestinationType sets per message to allow for one message to be sent to multiple receiving systems.
Allowable Values: Text string
Required: Yes
Length: N/A
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: ROM</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="DestinationType" type="xs:string">
											<xs:annotation>
												<xs:documentation>The descriptive category used to define the system that is the intended recipient of the message. 
Allowable Values: 
OMS = Order Management System, 
WMS = Warehouse Management System, 
PH= Product Hub,
FH= Fulfillment Hub.
Required: Yes
Length: N/A
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: ROM</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="EventType" type="xs:string">
								<xs:annotation>
									<xs:documentation>The name of the event to which the message pertains.
Allowable Values: Varies depending on the feed, for example OrderEvents
Required: Yes
Length: N/A
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: ROM.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="MessageData">
								<xs:annotation>
									<xs:documentation>Encapsulates message identification information </xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="MessageId" type="xs:string">
											<xs:annotation>
												<xs:documentation>Globally unique identifier for each Message. The Message ID is populated from the Source system and must be a global identifier for eBay Enterprise Xchange.
Allowable Values: Text string
Required: Yes
Length: N/A
Default Value: blank
Restrictions: In cases when the Product Hub or Fulfillment Hub originates the message, this field is the unique Business Process ID (BPID). 
Aliases: N/A
Offering: ROM</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="CorrelationId" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>When present, it must contain the MessageId value of an earlier eBay Enterprise Xchange Message to which this message relates.
Allowable Values: Text string
Required: No
Length: N/A
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: ROM</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="CreateDateAndTime" type="xs:dateTime">
								<xs:annotation>
									<xs:documentation>Message creation date and time assigned by the final source of the data. 
Allowable Values: ISO 8601 standard with offset from UTC in xsd:datetime format which is yyyy-mm-ddTHH:mm:ss-hh:mm for e.g. 2012-01-11T14:19:05-06:00
Required: Yes
Length: Varies
Default Value: blank
Restrictions: N/A
Aliases: N/A
</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="OrderEvent" type="OrderEventType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Encapsulates multiple order events to transmit in a batch mode</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="OrderEventType">
		<xs:choice>
			<xs:element name="Accept" type="OrderType">
				<xs:annotation>
					<xs:documentation>Order Got accepted by OMS. Triggered when order got ingested in OMS without error but not yet processed</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Acknowledgment" type="OrderType">
				<xs:annotation>
					<xs:documentation>Acknowledges that the Order has Received. This is triggered in Order Service as an hand shake that order is received by ebay enterprise. This event is raised when a new order is submitted to/by order service.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BackOrder" type="OrderType">
				<xs:annotation>
					<xs:documentation>FTC Notification or Backorder notification during allocation. FTC regulation notification based upon number days configured at store level; also triggered when the OMS is hard allocating items after it receives an  order</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cancel" type="OrderType">
				<xs:annotation>
					<xs:documentation>Partial or Entire Order Got Canceled or Payment Authorization  fails after Order confirmation. Also triggered when OMS timer for a consumer return has expired and a reminder needs to be sent to the consumer to return items that were shipped to them. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Complete" type="OrderType">
				<xs:annotation>
					<xs:documentation>Future Use. Not Available in current release</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Confirmation" type="OrderType">
				<xs:annotation>
					<xs:documentation>Order confirmation when OMS has gone through all its checks and is ready to flow the order downstream.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Credit" type="OrderType">
				<xs:annotation>
					<xs:documentation>Credit issued  for the price adjustments or Return received in Warehouse.When a credit is issued against an order 
 or When the return is received in warehouse through Sterling web console</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Donation" type="OrderType">
				<xs:annotation>
					<xs:documentation>Donation Receipt when OMS accepts a order and determines that a line item was of type  donation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GiftCertificate" type="OrderType">
				<xs:annotation>
					<xs:documentation>On purchase/issue of On line Gift Certificate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Modification" type="OrderType">
				<xs:annotation>
					<xs:documentation>When order is modified before its being released
.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PickupComplete" type="OrderType">
				<xs:annotation>
					<xs:documentation>ISPU event that signifies customer has picked up the item in the store.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PickupReminder" type="OrderType">
				<xs:annotation>
					<xs:documentation>ISPU event that signifies item(s) are ready for pickup in the store. Event is usually triggered after an allotted amount of time has passed after Order Ready for Pickup Event and customer has not picked up the .</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReadyForPickup" type="OrderType">
				<xs:annotation>
					<xs:documentation>ISPU event that signifies item(s) are ready for pickup in the store.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Reject" type="OrderRejected" nillable="false">
				<xs:annotation>
					<xs:documentation>Order is rejected either in OMS or Order Service for any reason.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReturnInTransit" type="OrderType">
				<xs:annotation>
					<xs:documentation>When OMS is intimated that a shipment was returned in transit(Identified that this is a feed from Newgistics and does not come from OMS. OMS need to publish this event.).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Shipment" type="OrderType">
				<xs:annotation>
					<xs:documentation>When the OMS is intimated that an order has been shipped.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VATInvoice" type="VATInvoice">
				<xs:annotation>
					<xs:documentation>When an item having VAT Compliance is fulfilled and invoiced .</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="EventType" type="xs:string">
			<xs:annotation>
				<xs:documentation>Defines an Order Event Type.
Allowable Values:  
Accept
Acknowledgement
BackOrder
Cancel
Complete
Confirmation
Credit
Donation
GiftCertificate
Modification
PickupComplete
PickupReminder
ReadyForPickup
Reject
ReturnInTransit
Shipment
VATInvoice
Required: Yes
Length: Varies
Default Value: N/A
Restrictions: N/A
Aliases: N/A
</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CreateDateAndTime" type="xs:dateTime">
			<xs:annotation>
				<xs:documentation>date and time when event is published by OMS. 
Allowable Values: ISO 8601 standard with offset from UTC in xsd:datetime format which is yyyy-mm-ddTHH:mm:ss-hh:mm for e.g. 2012-01-11T14:19:05-06:00
Required: Yes
Length: Varies
Default Value: current date time
Restrictions: N/A
Aliases: N/A
</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
