src/app/code/local/TrueAction/Eb2cCore/xsd/ContentFeedV11.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 sp1 (http://www.altova.com) by user (private) -->
<!--W3C Schema generated by XMLSpy v2010 sp1 (http://www.altova.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:annotation>
		<xsd:documentation>V11 Content Message $Rev: 289 $</xsd:documentation>
		<xsd:documentation>$Id: ContentFeedV11.xsd 289 2012-01-18 19:49:15Z loweryt $</xsd:documentation>
		<xsd:documentation>$URL: http://svn.gspt.net/phx/ph-schemas/branches/v2.3_1/XSD/ContentFeedV11.xsd $</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="CommonTypes.xsd"/>
	<xsd:attributeGroup name="Product.Identifiers">
		<xsd:annotation>
			<xsd:documentation>  Require and Optional  identifiers for routing the product to the correct client/catalog/store.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="gsi_client_id" type="Simple.ClientID.Type" use="required"/>
		<xsd:attribute name="catalog_id" type="Simple.CatalogType.CatalogID" use="required"/>
		<xsd:attribute name="gsi_store_id" type="Simple.ClientID.Type" use="optional"/>
	</xsd:attributeGroup>
	<xsd:complexType name="Complex.Attributes.Base.Content" mixed="true">
		<xsd:annotation>
			<xsd:documentation>Base attributes that are required by feed</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Complex.Attributes.Base">
				<xsd:sequence>
					<xsd:element name="Title" type="Complex.StringType.Description" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Title for product/style.  Required for base locale.  Localized.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Complex.Attributes.Extended.Content" mixed="true">
		<xsd:annotation>
			<xsd:documentation>Extended attributes optional with known defaults. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Complex.Attributes.Base">
				<xsd:sequence>
					<xsd:element name="ColorAttributes" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence minOccurs="0">
								<xsd:element name="Color" type="Complex.Attribute.ValueDescSeq"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="DisplayCountryOfOrigin" type="Complex.StringType.Description" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>A country in which goods were completely derived or manufactured.  Used for display purpose only.   Free form allowed.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="FabricContent" type="Complex.StringType.Description" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Description of materials used in style fabric.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="GiftWrap" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Can this item be gift wrapped?</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="Y|N"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="LongDescription" type="Complex.StringType.Description" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>A long description of the style or product.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SearchKeywords" type="Complex.StringType.Description" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>The search keywords is limited to 4000 characters.  </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ShortDescription" type="Complex.StringType.Description" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>A short description of the style or product.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ContentMaster">
		<xsd:annotation>
			<xsd:documentation>Root Element.  Encapsulates message for Content Master.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MessageHeader" type="MessageHeaderType">
					<xsd:annotation>
						<xsd:documentation>Encapsulates message Routing data.  The elements included in this grouping are standard across all messages.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:sequence>
					<xsd:element name="Content" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Content to describe the Style or Product.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="UniqueID" type="Complex.StyleType.UniqID">
									<xsd:annotation>
										<xsd:documentation>Item, Style, or Slice (e.g., color or size variation) for this Product or Item.  A Style may reference a group of items. </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="StyleID" type="Complex.StyleType.StyleID" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>For style level content, the style id is a duplicate of UniqueID.  For Item Level content, StyleID is reference information stored as a custom attribute.</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ProductLinks" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>List of related products.  Includes support of any number of relationship types.</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence minOccurs="0">
											<xsd:element name="ProductLink" type="Complex.ProductLink.Attribute" maxOccurs="unbounded">
												<xsd:annotation>
													<xsd:documentation>This list of links is used to create a new list or replace an existing list of links.</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="CategoryLinks" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Establish links to categories.</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence minOccurs="0">
											<xsd:element name="CategoryLink" maxOccurs="unbounded">
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element name="Name" type="Simple.StringType.132">
															<xsd:annotation>
																<xsd:documentation>Name of the category (catalog) to link this product.</xsd:documentation>
															</xsd:annotation>
														</xsd:element>
													</xsd:sequence>
													<xsd:attribute name="catalog_id" type="Simple.StringType.132">
														<xsd:annotation>
															<xsd:documentation>Used to cross category link products.  No validation provided by transforms engine.  Catalog must exist before linking occurs.</xsd:documentation>
														</xsd:annotation>
													</xsd:attribute>
													<xsd:attribute name="default" type="Simple.Boolean.Type" default="false">
														<xsd:annotation>
															<xsd:documentation>Only one in the list may be the default (true).</xsd:documentation>
														</xsd:annotation>
													</xsd:attribute>
													<xsd:attribute ref="import_mode"/>
												</xsd:complexType>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="BaseAttributes" type="Complex.Attributes.Base.Content">
									<xsd:annotation>
										<xsd:documentation>Required attributes when adding or updating the product.</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ExtendedAttributes" type="Complex.Attributes.Extended.Content" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>This are known attributes commonly defined.  Some may contain data restrictions. </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="CustomAttributes" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Allow 0 or more custom attributes.  Spelling and case important.  Names are defined during the design phase to be included on a page or used on a site.</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="Attribute" type="Complex.Custom.Attribute" maxOccurs="unbounded"/>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
							<xsd:attributeGroup ref="Product.Identifiers">
								<xsd:annotation>
									<xsd:documentation>Required and Optional  identifiers for routing the product to the correct client/catalog/store.
The gsi_client_id identifier provided by GSI for an individual or organization that has a contractual relationship with GSI in which GSI is providing e-commerce, fulfillment or other services for the individual or organization.  			
The catalog_id identifies which client or shared catalog contains the item or style.
The gsi_store_id identifies this content as store/channel/seller specific.</xsd:documentation>
								</xsd:annotation>
							</xsd:attributeGroup>
							<xsd:attribute name="varattrib_01" type="Simple.StringType.4000" use="optional">
								<xsd:annotation>
									<xsd:documentation>Internal Use Only</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
