src/app/code/local/TrueAction/Eb2cCore/xsd/PriceEventV11.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 sp1 (http://www.altova.com) by user (private) -->
<!--W3C Schema generated by XMLSpy v2010 sp1 (http://www.altova.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cm="http://www.tm-xml.org/XMLSchema/common" elementFormDefault="qualified">
	<xsd:annotation>
		<xsd:documentation>Price Event Message Feed $Rev: 286 $ </xsd:documentation>
		<xsd:documentation>$Id: PriceEventV11.xsd 286 2012-01-18 17:59:48Z loweryt $</xsd:documentation>
		<xsd:documentation>$URL: http://svn.gspt.net/phx/ph-schemas/branches/v2.3_1/XSD/PriceEventV11.xsd $</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="CommonTypes.xsd"/>
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<xsd:element name="Prices">
		<xsd:annotation>
			<xsd:documentation>Root Element.  Encapsulates message for Pricing Events.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MessageHeader" type="MessageHeaderType">
					<xsd:annotation>
						<xsd:documentation>Encapsulates message Routing data.  The elements included in this grouping are standard across all messages.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="PricePerItem" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Encapsulates the Price Per Item specific information.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PricePerItem">
		<xsd:annotation>
			<xsd:documentation>Price and Price Events per Item and Channel.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ClientItemId" type="Complex.StyleType.UniqID">
					<xsd:annotation>
						<xsd:documentation>Unique item identifier provided by the client that matches this price change to an existing item.  ClientItemId matches the values provided in the Item Master.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Event" type="Complex.Price.Events.Type" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Encapsulates the various price references that an item can have. Price or Price events may include localization by currency.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="gsi_store_id" type="Simple.CatalogType.CatalogID" use="required">
				<xsd:annotation>
					<xsd:documentation>ID for the selling channel or store.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="gsi_client_id" type="Simple.ClientID.Type" use="required">
				<xsd:annotation>
					<xsd:documentation>The identifier provided by GSI for an individual or organization that has a contractual relationship with GSI in which GSI is providing e-commerce, fulfillment or other services for the individual or organization.  </xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="catalog_id" type="Simple.CatalogType.CatalogID" use="required">
				<xsd:annotation>
					<xsd:documentation>Catalog id for the item</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Complex.Price.Events.Type">
		<xsd:sequence>
			<xsd:element name="EventNumber" type="Simple.StringType.4000" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Partner pricing event reference number</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EventDescription" type="Simple.StringType.4000" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Partner pricing event description</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Price" type="Simple.DecimalType">
				<xsd:annotation>
					<xsd:documentation>The "IS" price for the item for the time/date range.  Used for price calucations.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MSRP" type="Simple.DecimalType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Manufacturer Suggested Retail Price.  This price is NEVER used as the selling price for the item.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AlternatePrice1" type="Simple.DecimalType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Alternate Price 1 for WAS/IS/MAP price model. This price is NEVER used as the selling price for the item.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StartDate" type="Simple.DateTime.Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Date and Time change will occur.  Default value is the system date/time when the event is processed. Use yyyy-mm-ddThh:mm:ss-hh:mm standard with offset from GMT/UTC.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EndDate" type="Simple.DateTime.Type" default="2500-12-31T23:59:59-00:00" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Date price will expire. Used for temporary or timed promotions / markdowns.  The End Date must be after the  Start Date.  The default value is end of the day 2500-12-31</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PriceVatInclusive" type="Simple.Boolean.Type" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>true if the price is VAT Inclusive.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
