src/app/code/local/TrueAction/Eb2cCore/xsd/Token-Validate-Response-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schema.gspt.net/token/1.0" xmlns="http://schema.gspt.net/token/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="Token-Common.xsd"/>
	<xsd:element name="TokenValidateResponse" nillable="false" type="TokenValidateResponseType"/>
	<xsd:complexType name="TokenValidateResponseType">
		<xsd:sequence>
			<xsd:element maxOccurs="1" name="Token" nillable="false" type="xsd:string"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="Data" type="DataType"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
