src/app/code/community/EbayEnterprise/Eb2cCore/xsd/ContentFeedV11.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 rel. 2 sp2 (x64) (http://www.altova.com) by Thomas Lowery (private) -->
<!--W3C Schema generated by XMLSpy v2010 sp1 (http://www.altova.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:annotation>
		<xsd:documentation>V11 Content Message $Rev: 472 $</xsd:documentation>
		<xsd:documentation>$Id: ContentFeedV11.xsd 472 2014-04-10 16:16:30Z polssl $</xsd:documentation>
		<xsd:documentation>$URL: http://svn.gspt.net/phx/ph-schemas/branches/4.4-Q4-11.9/ContentFeedV11.xsd $</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="CommonTypes.xsd"/>
	<xsd:include schemaLocation="external/ISOCurrencyCodeType-V2008.xsd"/>
	<xsd:attributeGroup name="Product.Identifiers">
		<xsd:annotation>
			<xsd:documentation> Required and Optional identifiers for routing the product to the correct client/catalog/store.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="gsi_client_id" type="Simple.ClientID.Type" use="required">
			<xsd:annotation>
				<xsd:documentation>This eBay Enterprise-provided value identifies the client/organization supplying data. The data supplier is typically an individual or organization for which eBay Enterprise is providing e-commerce, fulfillment, or other services.  
Allowable Values: Text string
Required: Yes
Length: 32
Default Value: blank
Restrictions: N/A
Aliases: N/A
</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute ref="catalog_id" use="required"/>
		<xsd:attribute name="gsi_store_id" type="Simple.ClientID.Type" use="optional"/>
	</xsd:attributeGroup>
	<xsd:complexType name="Complex.Attributes.Base.Content" mixed="true">
		<xsd:annotation>
			<xsd:documentation>Base attributes that are required by feed.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Complex.Attributes.Base">
				<xsd:sequence>
					<xsd:element name="Title" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Title for product/style.  Required for base locale.  Localized.
Allowable Values: Text string
Required: Yes
Length: 4000
Default Value: blank
Restrictions: N/A
Aliases: N/A
</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:simpleContent>
								<xsd:restriction base="Complex.StringType.Description">
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Complex.Attributes.Extended.Content" mixed="true">
		<xsd:annotation>
			<xsd:documentation>Extended attributes optional with known defaults. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Complex.Attributes.Base">
				<xsd:sequence>
					<xsd:element name="ColorAttributes" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence minOccurs="0">
								<xsd:element name="Color" type="Complex.Attribute.ValueDescSeq" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="DisplayCountryOfOrigin" type="Complex.StringType.Description" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>A country in which goods were completely derived or manufactured.  Used for display purpose only.  
Allowable Values: Text string. 
Required: No
Length: 4000
Default Value: blank
Restrictions: N/A
Aliases: N/A</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="FabricContent" type="Complex.StringType.Description.OperationType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Description of materials used in style fabric.
Allowable Values: Text string
Required: No
Length: 4000
Default Value: blank
Restrictions: N/A
Aliases: N/A</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="GiftWrap" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Spedifies if this item can be gift wrapped.
Allowable Values: 
true - product can be gift wrapped
false - product cannot be gift wrapped
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="Y|N"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="LongDescription" type="Complex.StringType.Description.OperationType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>A long description of the style or product.
Allowable Values: Text string
Required: No
Length: 4000
Default Value: blank
Restrictions: N/A
Aliases: N/A</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SearchKeywords" type="Complex.StringType.Description.OperationType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Contains the search terms you want to associate with this product.
Allowable Values: Text string. Enter keywords associated with this product. Separate keywords with a pipe ( | ) character. Multi-word keywords are supported.
Required: No
Length: 4000
Default Value: blank
Restrictions: N/A
Aliases: N/A </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ShortDescription" type="Complex.StringType.Description.OperationType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>A short description of the style or product.
Allowable Values: Text string
Required: No
Length: 4000
Default Value: blank
Restrictions: N/A
Aliases: N/A</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="GiftCard" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Digital" type="Simple.Boolean.Type">
									<xsd:annotation>
										<xsd:documentation>True or False indicator if this gift card is digital.  Digital is electronic, no physical object.</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="MessageMaxLength" type="Simple.IntegerType">
									<xsd:annotation>
										<xsd:documentation>Maximum length of a message inlcuded with the gift card.</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="CardFacingDisplayName">
									<xsd:annotation>
										<xsd:documentation>Text description of the label applied to the selection field for the gift card. Example: the web page may show "Gift Card Facing".</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:simpleContent>
											<xsd:restriction base="Complex.StringType.Description">
												<xsd:minLength value="1"/>
											</xsd:restriction>
										</xsd:simpleContent>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ContentMaster">
		<xsd:annotation>
			<xsd:documentation>Root Element.  Encapsulates message for Content Master.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MessageHeader" type="MessageHeaderType">
					<xsd:annotation>
						<xsd:documentation>Encapsulates message Routing data.  The elements included in this grouping are standard across all messages.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:sequence>
					<xsd:element name="Content" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Content to describe the Style or Product.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="UniqueID">
									<xsd:annotation>
										<xsd:documentation>Item, Style, or Slice (e.g., color or size variation) for this Product or Item.  A Style may reference a group of items. 
Allowable Values: Text string
Required: Yes
Length: 15
Default Value: blank
Restrictions: N/A
Aliases: N/A</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:simpleContent>
											<xsd:restriction base="Complex.StyleType.UniqID">
												<xsd:minLength value="1"/>
											</xsd:restriction>
										</xsd:simpleContent>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="StyleID" type="Complex.StyleType.StyleID" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>For style level content, the style ID is a duplicate of UniqueID.  For Item Level content, StyleID is reference information stored as a custom attribute.
Allowable Values: Text string
Required: No
Length: 15
Default Value: blank
Restrictions: N/A
Aliases: N/A
</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ProductLinks" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>List of related products.  Includes support of any number of relationship types.</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence minOccurs="0">
											<xsd:element name="ProductLink" type="Complex.ProductLink.Attribute" maxOccurs="unbounded">
												<xsd:annotation>
													<xsd:documentation>This list of links is used to create a new list or replace an existing list of links.</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="CategoryLinks" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Establish links to categories.</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence minOccurs="0">
											<xsd:element name="CategoryLink" maxOccurs="unbounded">
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element name="Name">
															<xsd:annotation>
																<xsd:documentation>Name of the category (catalog) to link this product.
Allowable Values: Text string
Required: Yes
Length: 132
Default Value: blank
Restrictions: N/A
Aliases: N/A</xsd:documentation>
															</xsd:annotation>
															<xsd:simpleType>
																<xsd:restriction base="Simple.StringType.132">
																	<xsd:minLength value="1"/>
																</xsd:restriction>
															</xsd:simpleType>
														</xsd:element>
													</xsd:sequence>
													<xsd:attribute ref="catalog_id"/>
													<xsd:attribute name="default" type="Simple.Boolean.Type" default="false">
														<xsd:annotation>
															<xsd:documentation>Only one in the list may be the default (true).</xsd:documentation>
														</xsd:annotation>
													</xsd:attribute>
													<xsd:attribute ref="import_mode"/>
												</xsd:complexType>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="BaseAttributes" type="Complex.Attributes.Base.Content">
									<xsd:annotation>
										<xsd:documentation>Required attributes when adding or updating the product.</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ExtendedAttributes" type="Complex.Attributes.Extended.Content" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>These are known attributes commonly defined.  Some may contain data restrictions. </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="CustomAttributes" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Allow 0 or more custom attributes.  Spelling and case important.  Names are defined during the design phase to be included on a page or used on a site.</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="Attribute" type="Complex.Custom.Attribute" maxOccurs="unbounded"/>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
							<xsd:attributeGroup ref="Product.Identifiers">
								<xsd:annotation>
									<xsd:documentation>This eBay Enterprise-assigned value identifies the this content as store/channel/seller specific.
Allowable Values: Text string
Required: No
Length: 32
Default Value: blank
Restrictions: N/A
Aliases: N/A</xsd:documentation>
								</xsd:annotation>
							</xsd:attributeGroup>
							<xsd:attribute name="varattrib_01" type="Simple.StringType.4000" use="optional">
								<xsd:annotation>
									<xsd:documentation>Internal Use Only</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
