src/app/code/community/EbayEnterprise/Eb2cCore/xsd/CustomOverride.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (x64) (http://www.altova.com) by thomas lowery (private) -->
<!--W3C Schema generated by XMLSpy v2010 sp1 (http://www.altova.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:annotation>
		<xsd:documentation>ECP 1.0.1 - Custom Attribute Override Message $Rev: 463 $</xsd:documentation>
		<xsd:documentation>$Id: CustomOverride.xsd 463 2014-03-18 20:12:51Z loweryt $</xsd:documentation>
		<xsd:documentation>$URL: http://svn.gspt.net/phx/ph-schemas/branches/4.4-Q4-11.9/CustomOverride.xsd $</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="CommonTypes.xsd"/>
	<xsd:include schemaLocation="external/ISOCurrencyCodeType-V2008.xsd"/>
	<xsd:attributeGroup name="Product.Identifiers">
		<xsd:annotation>
			<xsd:documentation>  Require and Optional  identifiers for routing the product to the correct client/catalog/store.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="gsi_client_id" type="Simple.ClientID.Type" use="required">
			<xsd:annotation>
				<xsd:documentation>This GSI-provided vallue identifies the client/organization supplying data. The data supplier is typically an individual or organization for which GSI is providing e-commerce, fulfillment or other services.  
Allowable Values: Text string
Required: Yes
Length: 32
Default Value: blank
Restrictions: N/A
Aliases: N/A
</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute ref="catalog_id" use="required"/>
		<xsd:attribute name="gsi_store_id" type="Simple.ClientID.Type" use="required"/>
	</xsd:attributeGroup>
	<xsd:element name="CustomOverride">
		<xsd:annotation>
			<xsd:documentation>Root Element.  Encapsulates message for Custom Override Message</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MessageHeader" type="MessageHeaderType">
					<xsd:annotation>
						<xsd:documentation>Encapsulates message Routing data.  The elements included in this grouping are standard across all messages.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:sequence>
					<xsd:element name="ToOverride" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Content to describe the Style or Product.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="UniqueID" type="Simple.StringType.35">
									<xsd:annotation>
										<xsd:documentation>Item, Style, or Slice (e.g., color or size variation) for this Product or Item.  A Style may reference a group of items. 
Allowable Values: Text string
Required: Yes
Length: 35
Default Value: blank
Restrictions: N/A
Aliases: N/A</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="CustomAttributes">
									<xsd:annotation>
										<xsd:documentation>Allow 0 or more custom attributes.  Spelling and case important.  Names are defined during the design phase to be included on a page or used on a site.</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="Attribute" type="Complex.Custom.Attribute" maxOccurs="unbounded"/>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
							<xsd:attributeGroup ref="Product.Identifiers">
								<xsd:annotation>
									<xsd:documentation>This GSI-assigned value identifies the this content as store/channel/seller specific.
Allowable Values: Text string
Required: No
Length: 32
Default Value: blank
Restrictions: N/A
Aliases: N/A</xsd:documentation>
								</xsd:annotation>
							</xsd:attributeGroup>
							<xsd:attribute name="varattrib_01" type="Simple.StringType.4000" use="optional">
								<xsd:annotation>
									<xsd:documentation>Internal Use Only</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
