src/app/code/community/EbayEnterprise/Eb2cCore/xsd/ErrorConfirmationV11.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Manish Vijayvergiya (GSI Commerce) -->
<!--W3C Schema generated by XMLSpy v2010 sp1 (http://www.altova.com)-->
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cm="http://www.tm-xml.org/XMLSchema/common" elementFormDefault="qualified">
	<xsd:annotation>
		<xsd:documentation>ErrorConfirmation API for V11 Platform $Rev: 291 $</xsd:documentation>
		<xsd:documentation>$Id: ErrorConfirmationV11.xsd 291 2012-01-18 20:02:32Z loweryt $</xsd:documentation>
		<xsd:documentation>$URL: http://svn.gspt.net/phx/ph-schemas/branches/v2.3_1/XSD/ErrorConfirmationV11.xsd $</xsd:documentation>
		<xsd:documentation>December 1, 2011 Version 2.3 </xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="CommonTypes.xsd"/>
	<xsd:element name="ErrorConfirmations">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MessageHeader" type="MessageHeaderType">
					<xsd:annotation>
						<xsd:documentation>Encapsulates message Routing data.  The elements included in this grouping are standard across all messages.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ErrorConfirmation" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Encapsulates product level error information.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Error" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Message" minOccurs="0" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation>The error message reported from Target System.</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="Complex.StringType.Description">
														<xsd:attribute name="code" type="Simple.StringType.132" use="optional">
															<xsd:annotation>
																<xsd:documentation>Error Code of the error reported from Target System.</xsd:documentation>
															</xsd:annotation>
														</xsd:attribute>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="CustomAttributes" type="Complex.Custom.Attribute" minOccurs="0" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation>CustomAttributes are name/value paris. A locale is included for the value.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
									<xsd:attribute name="reported_from" type="Simple.StringType.35" use="required">
										<xsd:annotation>
											<xsd:documentation>The Target System where original message was consumed and error is reported from.</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="event_type" type="Simple.StringType.35" use="required">
										<xsd:annotation>
											<xsd:documentation>The name of the event\feed to which the message pertains.</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="file_name" type="Simple.StringType.132" use="required">
										<xsd:annotation>
											<xsd:documentation>Original File Name of the message sent.</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="unique_id" type="Simple.StringType.32" use="required">
							<xsd:annotation>
								<xsd:documentation>Defines the unique identification for the transaction, for e.g.ClientItemId.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Statistics" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Encapsulates message level information.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="file_name" type="Simple.StringType.132" use="required">
							<xsd:annotation>
								<xsd:documentation>Original File Name of the message sent.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="total_errors_encountered" type="xsd:int" use="required">
							<xsd:annotation>
								<xsd:documentation>Total number of the errors encountered per target system per file.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="reported_from" type="Simple.StringType.35" use="required">
							<xsd:annotation>
								<xsd:documentation>The Target System where original message was consumed and error is reported from.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="event_type" type="Simple.StringType.35" use="required">
							<xsd:annotation>
								<xsd:documentation>Event Type of the original message.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="gsi_client_id" type="Simple.ClientID.Type" use="required">
							<xsd:annotation>
								<xsd:documentation>The identifier provided by GSI for an individual or organization that has a contractual relationship with GSI in which GSI is providing e-commerce, fulfillment or other services.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="gsi_store_id" type="Simple.StringType.32" use="optional">
							<xsd:annotation>
								<xsd:documentation>GSI assigned store id for the client’s web store.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="gsi_catalog_id" type="Simple.StringType.32" use="required">
							<xsd:annotation>
								<xsd:documentation>GSI assigned unique catalog id for client.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="received_dateandtime" type="Simple.DateTime.Type" use="required">
							<xsd:annotation>
								<xsd:documentation>Received date and time of the original message in ISO 8601Standard with offset from UTC.  </xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
