src/app/code/community/EbayEnterprise/Eb2cCore/xsd/InStoreReturn.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 sp1 (http://www.altova.com) by user (private) -->
<!--W3C Schema generated by XMLSpy v2010 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>InStoreReturn API V2.3.1 </xs:documentation>
		<xs:documentation>20110209 - Rob Olden - Changed ReturnedDate to ReturnedDateTime</xs:documentation>
		<xs:documentation>20110628 - Bill Linebarger - Changed DateTime length to 28</xs:documentation>
		<xs:documentation>20110901 - Bill Linebarger - Added annotations around elements that were not documented.  No structural changes</xs:documentation>
		<xs:documentation>20120111 - Manish Vijayvergiya- Changed the length for PartnerRetailStoreNumber to 32 from 10</xs:documentation>
		<xs:documentation>20131111 - Manish Vijayvergiya - Changed-length of ClientItemId to be 35 from 15, CorrelationId to be optional, added GsiCatalogId</xs:documentation>
		<xs:documentation>20140409 - Leslie Polss - Update terminology in annotations, from GSI and EB2C to eBay Enterprise and Exchange Platform.</xs:documentation>
	</xs:annotation>
	<xs:element name="InStoreReturn">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MessageHeader">
					<xs:annotation>
						<xs:documentation>Encapsulates message routing data. The elements included in this grouping are standard across all messages</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Standard">
								<xs:annotation>
									<xs:documentation>Code identifying the schema-controlling agency, for example, GSI.
Allowable Values: Text string
Required: Yes
Length: 10
Default Value: GSI
Restrictions: N/A
Aliases: N/A
Offering: Exchange Platform, Webstore</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="HeaderVersion">
								<xs:annotation>
									<xs:documentation>Version of the message being used, for example NGP1.0.0.  Each new version whole number represents a significant change from a previous whole version and reflects a need for upgrades.  For example, a change from Version 1.X to 2.X  or 2.X to NGP1.0.0 represents a substantial change in the framework and would be a recommended upgrade point.  A change in the number after the decimal represents a minor upgrade/modification to the framework.
Allowable Values: Text string
Required: Yes
Length: 10
Default Value: NGP1.0.0 or current version on which partner is launched
Restrictions: N/A
Aliases: N/A
Offering: Exchange Platform, Webstore</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="VersionReleaseNumber">
								<xs:annotation>
									<xs:documentation>Release number within the current message header version which is the same as HeaderVersion in most cases.
Allowable Values: Text string
Required: Yes
Length: 15
Default Value: NGP1.0.0 or current version on which partner is launched
Restrictions: N/A
Aliases: N/A
Offering: Exchange Platform, Webstore</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="SourceData">
								<xs:annotation>
									<xs:documentation>Encapsulates data related to the Source or the Sending system</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="SourceId">
											<xs:annotation>
												<xs:documentation>Unique identifier of the System that originated the message. The SourceId is a unique identifier provided by the initiator of the message. For those messages originating from an Order Management System (OMS), it would be the unique OMS identifier. For those messages originating from a Warehouse Management System (WMS), it would be the unique WMS identifier.
Allowable Values: Text string
Required: Yes
Length: 20
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Exchange Platform, Webstore</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SourceType">
											<xs:annotation>
												<xs:documentation>The descriptive category/name/code used to define the system that originated the message.
Allowable Values: 
OMS = Order Management System
WMS = Warehouse Management System
Required: Yes
Length: 10
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Exchange Platform, Webstore</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="DestinationData" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Encapsulates data related to the Destination or Receiving system</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DestinationId">
											<xs:annotation>
												<xs:documentation>Unique identifier of the System that is the intended recipient of the message. There can be multiple DestinationId/DestinationType sets per message to allow for one message to be sent to multiple receiving systems.
Allowable Values: Text string
Required: Yes
Length: 20
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Exchange Platform, Webstore</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DestinationType">
											<xs:annotation>
												<xs:documentation>The descriptive category used to define the system that is the intended recipient of the message. 
Allowable Values: 
OMS = Order Management System, 
WMS = Warehouse Management System, 
FH= Fulfillment Hub.
Required: Yes
Length: 10
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Exchange Platform, Webstore</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="EventType">
								<xs:annotation>
									<xs:documentation>The name of the event to which the message pertains.
Allowable Values: InventoryStatus
Required: Yes
Length: 35
Default Value: InventoryStatus
Restrictions: N/A
Aliases: N/A
Offering: Exchange Platform, Webstore</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="35"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="MessageData">
								<xs:annotation>
									<xs:documentation>Encapsulates message identification information </xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="MessageId">
											<xs:annotation>
												<xs:documentation>Globally unique identifier for each Message. The MessageId is populated from the Source system and must be a global identifier for eBay Enterprise.
Allowable Values: Text string
Required: Yes
Length: 20
Default Value: any non blank value
Restrictions: In cases when the Product Hub or Fulfillment Hub originates the message, this field is the unique Business Process ID (BPID). 
Aliases: N/A
Offering: Exchange Platform, Webstore</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CorrelationId" minOccurs="0">
											<xs:annotation>
												<xs:documentation>When present, it must contain the MessageId value of an earlier eBay Enterprise Message to which this message relates.
Allowable Values: Text string
Required: No
Length: 20
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Exchange Platform, Webstore</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="CreateDateAndTime" type="xs:dateTime">
								<xs:annotation>
									<xs:documentation>Original message creation date and time assigned by the Source. 
Allowable Values: ISO 8601 standard with offset from UTC in xsd:datetime data format which is yyyy-mm-ddTHH:mm:ss-hh:mm for e.g. 2012-01-11T14:19:05-06:00, 2012-01-11T14:19:05Z.
Required: Yes
Length: xsd:datetime.
Default Value: Current Date Time
Restrictions: Needs to be complying with yyyy-mm-ddTHH:mm:ss-hh:mm format
Aliases: N/A 
Offering: Exchange Platform, Webstore</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="InStoreReturnData" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="OriginalOMSOrderID" minOccurs="0">
								<xs:annotation>
									<xs:documentation>12-digit OMS Order Number plus 3-digit reference ID.
Allowable Values: Integer
Required: Required if the OriginalWebOrderNumber is not provided.
Length: 15
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Exchange Platform, Webstore</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:totalDigits value="15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="OriginalWebOrderNumber" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Identifier assigned when the order was originaly placed using the web store.
Allowable Values: Text string
Required: Required if the OriginalOMSOrderID is not provided.
Length: 30
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Exchange Platform, Webstore</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="30"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="OriginalCustomerOrderID" minOccurs="0">
								<xs:annotation>
									<xs:documentation>original Exchange Platform order.
Allowable Values: Text string
Required: No
Length: 30
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Exchange Platform, Webstore</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="30"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="gsi_client_id">
								<xs:annotation>
									<xs:documentation>The identifier provided by eBay Enterprise for an individual or organization that has a contractual relationship with eBay Enterprise in which eBay Enterprise is providing e-commerce, fulfillment or other services for the individual or organization. This refers to the V11/ ECP1.0.0 gsi_client_id. e.g. TMSNA.
Allowable Values: Text string
Required: Yes
Length: 32
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="32"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="gsi_store_id">
								<xs:annotation>
									<xs:documentation>eBay Enterprise assigned store ID.
Allowable Values: Text string
Required: Yes
Length: 32
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="32"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GsiCatalogId">
								<xs:annotation>
									<xs:documentation>eBay Enterprise assigned catalog ID.
Allowable Values: Text string
Required: Yes
Length: 4
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PartnerRetailStoreNumber">
								<xs:annotation>
									<xs:documentation>Identifies the Retail Store Number in which the customer returned the item that was originally purchased from the web store.
Allowable Values: Text string
Required: Yes
Length: 32
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="32"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ItemID">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="GsiCatalogId" minOccurs="0">
											<xs:annotation>
												<xs:documentation>This eBay Enterprise -assigned value specifies to which catalog an item belongs. An item may belong to only one catalog. Used to cross category link products.  
Allowable Values: Text string
Required: Yes either at standard element level or thru extended attributes.
Length: 4
Restrictions: The catalog ID must exist in the eBay Enterprise system.
</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ClientItemId" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The retailer/client unique item id or SKU used to identify the item. This is the unique id  which is being sent on the Item Master catalog.
Allowable Values: Text string
Required: No
Length: 35
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="35"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="OMSItemId" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The eBay Enterprise Internally assigned unique identifier, AKA JDA SKU or GSI SKU or OMS SKU or GII or eBay Enterprise SKU. Not applicable for 3rd Party fulfillment model in V11 platform.
Allowable Values: Integer
Required: No
Length: 9
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Exchange Platform, Webstore</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:totalDigits value="9"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ExtendedAttributes" type="ExtendedAttributes" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ReturnedQuantity">
								<xs:annotation>
									<xs:documentation>Quantity returned to the store.
Allowable Values: Decimal
Required: Yes
Length: 10.2
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Exchange Platform, Webstore</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="10"/>
										<xs:fractionDigits value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CreditAmount">
								<xs:annotation>
									<xs:documentation>Encapsulates the information necessary for reflecting the credit issued in-store against the returned item.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="MonetaryAmount">
											<xs:annotation>
												<xs:documentation>The monetary amount for the defined amount type.
Allowable Values: Decimal
Required: Yes
Length: 16.5
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="16"/>
													<xs:fractionDigits value="5"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CurrencyCode">
											<xs:annotation>
												<xs:documentation>The type of currency (dollars, francs, etc.) associated with the monetary amount.
The type of currency (dollars, francs, etc) used for the transaction.
Allowable Values: ISO 4217 currency code. http://www.iso.org/iso/support/currency_codes_list-1.htm
Required: Yes
Length: 3
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ReturnedDateTime" type="xs:dateTime">
								<xs:annotation>
									<xs:documentation>Date and time returned to the store.
Allowable Values: ISO 8601 standard with offset from UTC in:datetime data format which is yyyy-mm-ddTHH:mm:ss-hh:mm for e.g. 2012-01-11T14:19:05-06:00
Required: Yes
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A
</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ExtendedAttributes" type="ExtendedAttributes" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ExtendedAttributes">
		<xs:annotation>
			<xs:documentation>Encapsulates the customizable section of the message which allows for additional details to be added.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The short title of the additional attribute, for example "CatalogId."
Allowable Values: Text string
Required: No
Length: 30
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Exchange Platform, Webstore</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Description" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A brief description of the additional attribute
Allowable Values: Text string
Required: No
Length: 100
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Exchange Platform, Webstore</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Value" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The specific value of the additional attribute.
Allowable Values: Text string
Required: No
Length: 100
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Exchange Platform, Webstore</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
