src/app/code/community/EbayEnterprise/Eb2cCore/xsd/InventoryV11.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Steven Arnott (GSI Commerce) -->
<!--W3C Schema generated by XMLSpy v2010 sp1 (http://www.altova.com)-->
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cm="http://www.tm-xml.org/XMLSchema/common" elementFormDefault="qualified">
	<xsd:annotation>
		<xsd:documentation>Support for Client/3rd Party Inventory Feed $Rev: 297 $ </xsd:documentation>
		<xsd:documentation>$Id: ItemMasterV11.xsd 297 2012-02-13 19:52:35Z loweryt $</xsd:documentation>
		<xsd:documentation>$URL: http://svn.gspt.net/phx/ph-schemas/branches/v2.3_1/XSD/ItemMasterV11.xsd $</xsd:documentation>
	</xsd:annotation>
	<!---->
	<xsd:include schemaLocation="CommonTypes.xsd"/>
	<xsd:complexType name="Complex.Attributes.Custom.Item" mixed="true">
		<xsd:annotation>
			<xsd:documentation>Custom Name/Value/Localized attributes</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="true">
			<xsd:extension base="Complex.Attributes.Custom">
				<xsd:sequence>
					<xsd:element name="Attribute" type="Complex.Custom.Attribute" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Complex.Attributes.Extended.Statistic" mixed="true">
		<xsd:annotation>
			<xsd:documentation>Information and statistics about this inventory item.  For further use.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="true">
			<xsd:extension base="Complex.Attributes.Extended">
				<xsd:sequence>
					<xsd:element name="Forecast30Days" type="Simple.DecimalType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Forcecasted sale of this item in the next 30 days.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Complex.Attributes.Base.Measurement" mixed="true">
		<xsd:annotation>
			<xsd:documentation>Values representing inventory measurements</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent mixed="true">
			<xsd:extension base="Complex.Attributes.Base">
				<xsd:sequence>
					<xsd:element name="AvailableQuantity" type="Simple.IntegerType">
						<xsd:annotation>
							<xsd:documentation>Total of ( OnHand + Pending) - Demand </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="BackorderQuantity" type="Simple.IntegerType">
						<xsd:annotation>
							<xsd:documentation>Total demand quantity of OMS type 'BackOrder'</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="PendingQuantity" type="Simple.IntegerType">
						<xsd:annotation>
							<xsd:documentation>po placed + in transit demand types</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="DemandQuantity" type="Simple.IntegerType">
						<xsd:annotation>
							<xsd:documentation>Total demand of types: open_order, allocated, scheduled, rsrv_order, reserved</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="OnHandQuantity" type="Simple.IntegerType">
						<xsd:annotation>
							<xsd:documentation>Total supply for type 'onhand'</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="UnsellableQuantity" type="Simple.IntegerType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Quantity of product preent however not fit for sell to a retail customer</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Complex.ItemId.Type" mixed="true">
		<xsd:complexContent mixed="true">
			<xsd:extension base="Complex.Attributes.Base">
				<xsd:sequence>
					<xsd:element name="ClientItemId" type="Complex.String.ItemId.Type">
						<xsd:annotation>
							<xsd:documentation>The retailer/client unique item id or sku used to identify this item.  This item id may not change or the new key is considered a new item.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ClientAltItemId" type="Complex.String.ItemId.Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>An alternative item identifier provided by the client</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ExtendedIDs" type="Complex.Custom.Extend.Id" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Allows for additional Item identifiers to be provided.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="GTIN" type="Complex.GTIN.Type" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Global Trade Item Number also call UPC in the US, IAN (formerly EAN) in Europe, and JAN in Japan.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ManufacturerItemId" type="Complex.String.ItemId.Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The code assigned to the item by the manufacturer to uniquely identify the item.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Complex.String.ItemId.Type" mixed="true">
		<xsd:simpleContent>
			<xsd:extension base="Simple.StringType.15"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="ItemInventories">
		<xsd:annotation>
			<xsd:documentation>Root Element.  Encapsulates message for Item Item Inventory</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MessageHeader" type="MessageHeaderType">
					<xsd:annotation>
						<xsd:documentation>Encapsulates message Routing data.  The elements included in this grouping are standard across all messages.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Inventory" type="InventoryType" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="Simple.String.Measurement.Type.LC" final="list">
		<xsd:annotation>
			<xsd:documentation> Measurement of inventory this data repersents.	A level is the measurement of inventory in units.  A change is the measurement of difference between the last inventory reading.	
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="Simple.StringType.10">
			<xsd:enumeration value="Change"/>
			<xsd:enumeration value="Level"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="InventoryType">
		<xsd:annotation>
			<xsd:documentation>Item Level Message Type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ItemId" type="Complex.ItemId.Type">
				<xsd:annotation>
					<xsd:documentation>Encapsulates the set of various references that can be used to identify an item/SKU.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Measurements" type="Complex.Attributes.Base.Measurement">
				<xsd:annotation>
					<xsd:documentation>Values for inventory measurements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Statistics" type="Complex.Attributes.Extended.Statistic" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Statistical values for this inventory item.  Further Use.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CustomAttributes" type="Complex.Attributes.Custom.Item" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>CustomAttributes are name/value pairs. A locale is included for the value.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="operation_type" type="Simple.String.Operation.Type.ACD" use="optional" default="Change">
			<xsd:annotation>
				<xsd:documentation>Defines the action requested by the event. Add and Change.  For a GSI fulfilled partner this fields needs to be mandatory and accurate.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="gsi_client_id" type="Simple.ClientID.Type" use="required">
			<xsd:annotation>
				<xsd:documentation>The identifier provided by GSI for an individual or organization that has a contractual relationship with GSI in which GSI is providing e-commerce, fulfillment or other services for the individual or organization.  </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="catalog_id" type="Simple.CatalogType.CatalogID" use="required">
			<xsd:annotation>
				<xsd:documentation>An item may belong to one catalog. This is the Catalog id for the item. The catalog must exist in the GSI system.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="measurement" type="Simple.String.Measurement.Type.LC" default="Level">
			<xsd:annotation>
				<xsd:documentation>Measurement of inventory this data repersents.	A level is the measurement of inventory in units.  A change is the measurement of difference between the last inventory report and this measurement.
</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
</xsd:schema>
