src/app/code/community/EbayEnterprise/Eb2cCore/xsd/iShipTDF.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 (x64) (http://www.altova.com) by Thomas Lowery (GSI Commerce Solutions, Inc.) -->
<!--W3C Schema generated by XMLSpy v2010 sp1 (http://www.altova.com)-->
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cm="http://www.tm-xml.org/XMLSchema/common" elementFormDefault="qualified">
	<xsd:annotation>
		<xsd:documentation>Tax and Duty Rating Results File for a Client $Rev: 477 $ </xsd:documentation>
		<xsd:documentation>$Id: iShipTDF.xsd 477 2014-05-22 19:32:16Z loweryt $</xsd:documentation>
		<xsd:documentation>$URL: http://svn.gspt.net/phx/ph-schemas/branches/4.4-Q4-11.9/iShipTDF.xsd $</xsd:documentation>
	</xsd:annotation>
	<!---->
	<xsd:include schemaLocation="CommonTypes.xsd"/>
	<xsd:include schemaLocation="external/ISOCurrencyCodeType-V2008.xsd"/>
	<xsd:complexType name="Complex.Attributes.Custom.Item" mixed="true">
		<xsd:annotation>
			<xsd:documentation>Custom Name/Value/Localized attributes.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Complex.Attributes.Custom">
				<xsd:sequence>
					<xsd:element name="Attribute" type="Complex.Custom.Attribute" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Complex.Attributes.Extended.Item" mixed="true">
		<xsd:annotation>
			<xsd:documentation>Known Attributes, optional with default values assigned.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Complex.Attributes.Extended">
				<xsd:sequence>
					<xsd:element name="AllowGiftMessage" type="Simple.Boolean.Type" default="true" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>If this flag is false - customer cannot add gift message on the item.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="BackOrderable" type="Simple.Boolean.Type" default="false" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Is this item able to be back ordered.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Brand" type="Complex.Brand.Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Encapsulates the selling name and description used to identify a product for advertising purposes.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Buyer" type="Complex.Buyer.Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Encapsulates the information related to the individual/organization responsible for the procurement of the merchandise.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ColorAttributes" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Item Color or colors.  Localized.  Repeat per Language.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence minOccurs="0">
								<xsd:element name="Color" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation>Color Value/Name with locale specific description and optional sequence.</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:complexContent>
											<xsd:extension base="Complex.Attribute.ValueDesc"/>
										</xsd:complexContent>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="CompanionFlag" default="Yes" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Whether item is a companion and can be shipped alone. Yes - this item may ship alone.  No - this item is canceled if not shipped with companion, Maybe - other factors decide.</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="Simple.StringType.10">
								<xsd:enumeration value="Yes"/>
								<xsd:enumeration value="No"/>
								<xsd:enumeration value="Maybe"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CountryOfOrigin" type="ISOCountryCodeType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>A country in which goods were completely derived or manufactured.  Follow the ISO 3166 two letter/alpha format.  http://www.iso.org/iso/country_codes.htm</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="GiftCardTenderCode" type="Simple.StringType.3" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>type of gift card to be used for activation. 
SD         TRU DIGITAL GIFT CARD
SP         SVS Physical Gift Card 
ST         SmartClixx Gift Card Canada
SV         SVS Virtual Gift Card
SX         SmartClixx Gift Card  </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="HazardousMaterialCode" type="Simple.StringType.3" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates if the item is considered hazardous material.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="IsHiddenProduct" type="Simple.Boolean.Type" default="false" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Is hidden, not included in display or on emails.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ItemDimension" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Encapsulates the dimensional information used to describe the physical measurements of an item.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Display" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Dimension for displaying on the page or store.</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="Mass" type="Complex.StringType.ItemWeight">
												<xsd:annotation>
													<xsd:documentation>Weight of item used for display.</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="Packaging" type="Complex.StringType.ItemDimension">
												<xsd:annotation>
													<xsd:documentation>Item dimension within a package.</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="Shipping" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Dimension for shipping the image.</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="Mass" type="Complex.StringType.ItemWeight">
												<xsd:annotation>
													<xsd:documentation>Weight of item used for shipping.</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="Packaging" type="Complex.StringType.ItemDimension">
												<xsd:annotation>
													<xsd:documentation>Item dimension within a package.</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="Carton" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Dimension of a carton of items.</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="Mass" type="Complex.StringType.ItemWeight">
												<xsd:annotation>
													<xsd:documentation>Weight of item used for display.</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="Packaging" type="Complex.StringType.ItemDimension">
												<xsd:annotation>
													<xsd:documentation>Item dimension within a package.</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="CartonType" type="Simple.StringType.100" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Used in combination with Ship Group to determine how the order is released by the OMS.  CartonType is determined on a per client basis.</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="LotTrackingIndicator" type="Simple.Boolean.Type" default="false" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates if the item's lot assignment is required to be tracked.  True = Yes, False = No.  If not sent, then default =  False.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="LTLFreightCost" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>LTL freight cost for item.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:simpleContent>
								<xsd:restriction base="Complex.DecimalType">
									<xsd:totalDigits value="11"/>
									<xsd:fractionDigits value="3"/>
								</xsd:restriction>
							</xsd:simpleContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="ManufacturingDate" type="Simple.DateType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The date which the item was built/assembled by the manufacturer.  Use yyyy-mm-ddThh:mm:ss-hh:mm standard with offset from GMT/UTC.  </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Manufacturer" type="Complex.Manufacturer.Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Encapsulates information related to the individual/organization that built/assembled the item.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MarketPlaceAttributes" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Known and custom attributes used by and for Market Place Integration. Named elements are stores as name@type.  Type is the attribute of MarketPlace.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence minOccurs="0">
								<xsd:element name="MarketPlace" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation>An individual Market Place identified by mp_name that the attributes are associated with.</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="Attribute" type="Complex.Custom.Attribute" minOccurs="0" maxOccurs="unbounded"/>
											<xsd:element name="Category" type="Complex.StringType.Description" minOccurs="0" maxOccurs="unbounded"/>
											<xsd:element name="ColorAttributes" minOccurs="0">
												<xsd:complexType>
													<xsd:sequence minOccurs="0">
														<xsd:element name="Color" type="Complex.Attribute.ValueDescSeq" maxOccurs="unbounded"/>
													</xsd:sequence>
												</xsd:complexType>
											</xsd:element>
											<xsd:element name="Description" type="Complex.StringType.Description" minOccurs="0" maxOccurs="unbounded"/>
											<xsd:element name="Title" type="Complex.StringType.Title" minOccurs="0" maxOccurs="unbounded"/>
											<xsd:element name="SizeAttributes" minOccurs="0">
												<xsd:complexType>
													<xsd:sequence minOccurs="0">
														<xsd:element name="Size" type="Complex.Attribute.ValueDesc" maxOccurs="unbounded"/>
													</xsd:sequence>
												</xsd:complexType>
											</xsd:element>
											<xsd:element name="StoreCategory" type="Complex.StringType.Description" minOccurs="0" maxOccurs="unbounded"/>
										</xsd:sequence>
										<xsd:attribute name="type" type="Simple.StringType.132" use="required">
											<xsd:annotation>
												<xsd:documentation>Attributes are associated to a market place name.  Agreed upon by cleint and eBay Enterprise/eBay.</xsd:documentation>
											</xsd:annotation>
										</xsd:attribute>
										<xsd:attribute name="eligible" type="Simple.Boolean.Type" default="true"/>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="MayShipExpedite" type="Simple.Boolean.Type" default="true" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Vendor can ship expedited shipments. If it's false - we shouldn't offer overnight or 2-day shipment method on the webstore.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MayShipInternational" type="Simple.Boolean.Type" default="true" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Currently we have only US vendors but we should also consider international vendors. For international vendors - US address will be international shipping address. It needs to be worked out directly with vendors.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MayShipUSPS" type="Simple.Boolean.Type" default="true" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>May ship via USPS.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MSRP" type="Simple.DecimalType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Only used for was/is pricing display. Never used for actual price computations.  </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Price" type="Simple.DecimalType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Price item is sold at, pre promo.  Required if and only if client has one store and this is a new item.  WARNING - Sending in an CHANGE will cause a price event override.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SafetyStock" type="Simple.IntegerType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Amount to use for safety stock calculations.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SalesClass" default="stock" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Determines behavior on the live system when item is back ordered.</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="Simple.StringType.25">
								<xsd:enumeration value="stock"/>
								<xsd:enumeration value="advanceOrderLimited"/>
								<xsd:enumeration value="advanceOrderOpen"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SerialNumberType" type="Simple.StringType.2" default="" nillable="true" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Type of serial number to be scanned.  
Examples:
Blanks – no serial number
GC – gift card
EC – electronics serial number</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ServiceIndicator" type="Simple.Boolean.Type" default="false" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Identifies if the item is a Service.  For example, clothing embroidery, product monogramming, hemming, etc.   true = Yes, false = No.  If not sent, then default = false.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ShipGroup" type="Simple.StringType.20" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Distinguish items that can be shipped together with those in the same group.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ShipWindowMinHour" type="Simple.IntegerType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Minimum number of hours before the item may ship.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ShipWindowMaxHour" type="Simple.IntegerType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Maximum number of hours before the item may ship.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SizeAttributes" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Item size.  Localized.  Repeat per Language.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence minOccurs="0">
								<xsd:element name="Size" type="Complex.Attribute.ValueDesc" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="SplitToOne" type="Simple.Boolean.Type" default="false" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Triggers OMS to split a line item with multiple quantity into multiple individual line items with a quantity each of 1.  Usually used for electronics with serial numbers and for gift cards.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="StreetDate" type="Simple.DateType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Date this item is expected to be for sale.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Style" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Encapsulation of Style ID and Description.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="StyleID" type="Complex.StyleType.StyleID">
									<xsd:annotation>
										<xsd:documentation>A code that identifies the specific appearance type or variety in which an item is available.</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="StyleDescription" type="Simple.StringType.Description.Value" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>A short description or title of the style for the item.</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="Supplier" type="Complex.Supplier.Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Encapsulates the information related to the agency providing the goods or materials.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Surcharges" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Encapsulates information about fees and surcharges.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence maxOccurs="unbounded">
								<xsd:element name="Charge">
									<xsd:annotation>
										<xsd:documentation>Amount/Values of the surcharge.</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:simpleContent>
											<xsd:extension base="Simple.DecimalType">
												<xsd:attribute name="name" type="Simple.StringType.100" use="required">
													<xsd:annotation>
														<xsd:documentation>Fee or Surcharge Name provided by eBay Enterprise. Example: SURCHARGE_ALL_CALIFORNIA_USD.   </xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
												<xsd:attribute name="currency" type="ISOCurrencyCodeType" use="required"/>
											</xsd:extension>
										</xsd:simpleContent>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="UnitCost" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Encapsulates the information necessary to determine the individual cost per unit of measure for the merchandise.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:simpleContent>
								<xsd:extension base="Simple.DecimalType">
									<xsd:attribute name="currency_code" type="ISOCurrencyCodeType" use="required">
										<xsd:annotation>
											<xsd:documentation>Currency of Unit Cost.</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:extension>
							</xsd:simpleContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Complex.Attributes.Base.Item" mixed="true">
		<xsd:annotation>
			<xsd:documentation>Base attributes that are required (mandatory) by feed.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Complex.Attributes.Base">
				<xsd:sequence>
					<xsd:element name="IPID" type="Simple.StringType.32" default="regular">
						<xsd:annotation>
							<xsd:documentation>Internal  control for grouping like items together.  Used by the raiting process.  Ignore by external client</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ECCN" type="Simple.StringType.32">
						<xsd:annotation>
							<xsd:documentation>: Export Classification Number; this lists required license classification in order to export from the United States.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ExportLicenseRequired" type="Simple.StringType.4000">
						<xsd:annotation>
							<xsd:documentation>Is an export license required for selling</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="CountryOfOrigin" type="ISOCountryCodeType">
						<xsd:annotation>
							<xsd:documentation>Country of Origin/Manufacturing Country Code</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Complex.Bundle.Parent.Type">
		<xsd:annotation>
			<xsd:documentation>Type supporting Item Bundling</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="BundleItems" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ItemID" type="Complex.String.ItemId.Type">
							<xsd:annotation>
								<xsd:documentation>The client or vendor ID for the item to be included in the bundle.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="Quantity" type="Simple.IntegerType" default="1">
							<xsd:annotation>
								<xsd:documentation>How many of Item ID in Bundle.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="operation_type" type="Simple.String.Operation.Type.ACD" default="Add">
						<xsd:annotation>
							<xsd:documentation>Add, Delete.  Default Add this Item to the Bundle.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="catalog_id" type="Simple.CatalogType.CatalogID">
						<xsd:annotation>
							<xsd:documentation>Catalog IDfor the item.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="ship_together" type="Simple.Boolean.Type" default="false">
			<xsd:annotation>
				<xsd:documentation>True or False. All items in bundle must ship together.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="Complex.ItemId.Type" mixed="true">
		<xsd:complexContent>
			<xsd:extension base="Complex.Attributes.Base">
				<xsd:sequence>
					<xsd:element name="ClientItemId" type="Complex.String.ItemId.Type">
						<xsd:annotation>
							<xsd:documentation>The retailer/client unique item ID or SKU used to identify this item.  This item ID may not change  or the new key is considered a new item.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ClientAltItemId" type="Complex.String.ItemId.Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>An Alternative item identifier provided by the client</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ExtendedIDs" type="Complex.Custom.Extend.Id" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Allows for additional Item identifiers to be provided.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="GTIN" type="Complex.GTIN.Type" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Global Trade Item Number also call UPC in the US, IAN (formerly EAN), in Europe and JAN in Japan.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ManufacturerItemId" type="Complex.String.ItemId.Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The code assigned to the item by the manufacturer to uniquely identify the item.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Complex.String.ItemId.Type" mixed="true">
		<xsd:simpleContent>
			<xsd:extension base="Simple.StringType.15"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="Simple.String.CatalogClass.Type" final="list">
		<xsd:restriction base="Simple.StringType.15">
			<xsd:whiteSpace value="collapse"/>
			<xsd:enumeration value="nosale"/>
			<xsd:enumeration value="regular"/>
			<xsd:enumeration value="always"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Simple.String.ItemStatus.Type" final="list">
		<xsd:annotation>
			<xsd:documentation> Item Status - Active</xsd:documentation>
			<xsd:documentation> Item Status - Deleted</xsd:documentation>
			<xsd:documentation> Item Status - I = Inactive</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="Simple.StringType.15">
			<xsd:enumeration value="Active"/>
			<xsd:enumeration value="Discontinued"/>
			<xsd:enumeration value="Inactive"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="iShip">
		<xsd:annotation>
			<xsd:documentation>Root Element.  Encapsulates message for Item Master.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MessageHeader" type="MessageHeaderType">
					<xsd:annotation>
						<xsd:documentation>Encapsulates message Routing data.  The elements included in this grouping are standard across all messages.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="Item" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Encapsulates the item specific information.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Item">
		<xsd:annotation>
			<xsd:documentation>Item Level message</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ItemId" type="Complex.ItemId.Type">
					<xsd:annotation>
						<xsd:documentation>Encapsulates the set of various references that can be used to identify an item/SKU.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="BaseAttributes" type="Complex.Attributes.Base.Item">
					<xsd:annotation>
						<xsd:documentation>All BaseAttributes are required elements to establish and or update the item.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="HTSCodes">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="HTSCode" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="Simple.StringType.100">
											<xsd:attribute name="mfn_duty_rate" type="Simple.DecimalType">
												<xsd:annotation>
													<xsd:documentation>Duty imposed by importing country</xsd:documentation>
												</xsd:annotation>
											</xsd:attribute>
											<xsd:attribute name="destination_country" type="ISOCountryCodeType">
												<xsd:annotation>
													<xsd:documentation>Two digit ISO country code.</xsd:documentation>
												</xsd:annotation>
											</xsd:attribute>
											<xsd:attribute name="restricted">
												<xsd:annotation>
													<xsd:documentation>Can the item be imported by the destination country (Y/N). Please note that even if the item is restricted there will still be and HS code assigned.</xsd:documentation>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="Simple.StringType.1">
														<xsd:enumeration value="Y"/>
														<xsd:enumeration value="N"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="CustomAttributes" type="Complex.Attributes.Custom.Item" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>CustomAttributes are name/value paris. A locale is included for the value.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="operation_type" type="Simple.String.Operation.Type.AC" use="optional" default="Change">
				<xsd:annotation>
					<xsd:documentation>Defines the action requested by the event. Add and Change.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="gsi_client_id" type="Simple.ClientID.Type" use="required">
				<xsd:annotation>
					<xsd:documentation>The identifier provided by eBay Enterprise for an individual or organization that has a contractual relationship with eBay Enterprise in which eBay Enterprise is providing e-commerce, fulfillment or other services for the individual or organization.  </xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="catalog_id" type="Simple.CatalogType.CatalogID" use="required">
				<xsd:annotation>
					<xsd:documentation>Catalog iid for the item</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Complex.Category.Hierarchy.Type" mixed="true">
		<xsd:annotation>
			<xsd:documentation>Product Hierarchy</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DeptNumber" type="Simple.IntegerType">
				<xsd:annotation>
					<xsd:documentation>Product Hierarchy Level 1 (Dept)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DeptDescription" type="Simple.StringType.25" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Product hierarchy Level 1 description.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SubDeptNumber" type="Simple.IntegerType">
				<xsd:annotation>
					<xsd:documentation>Product Hierarchy Level 2 (Sub-Dept)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SubDeptDescription" type="Simple.StringType.25" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Product hierarchy Level 2 description.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ClassNumber" type="Simple.IntegerType">
				<xsd:annotation>
					<xsd:documentation>Product Hierarchy Level 3 (Class)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ClassDescription" type="Simple.StringType.25" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Product hierarchy Level 3 description.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SubClass" type="Simple.IntegerType">
				<xsd:annotation>
					<xsd:documentation>Subclass code</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SubClassDescription" type="Simple.StringType.25" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
