src/app/code/community/EbayEnterprise/Eb2cCore/xsd/ItemMaster.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 sp1 (http://www.altova.com) by Ritesh Sharma (GSI Commerce Solutions, Inc.) -->
<!--W3C Schema generated by XMLSpy v2010 sp1 (http://www.altova.com)-->
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cm="http://www.tm-xml.org/XMLSchema/common" elementFormDefault="qualified" version="1.1">
	<xsd:annotation>
		<xsd:documentation>Support for Client/3rd Party Item Master $Rev: 474 $ </xsd:documentation>
		<xsd:documentation>$Id: ItemMasterV11.xsd 474 2014-05-12 22:33:56Z vijayvergiyam $</xsd:documentation>
		<xsd:documentation>$URL: http://svn.gspt.net/phx/ph-schemas/trunk/XSD/ItemMasterV11.xsd $</xsd:documentation>
		<xsd:documentation>2014-03-25-MVV- Added - FulfillmentOverride for Enhanced Order Brokering Feature- US8100</xsd:documentation>
		<xsd:documentation>2014-03-27-MVV- Added - SetInfiniteInventory, new value for sales class 'backOrderLimited'  VRR-343/C170, UPCType for US8505.</xsd:documentation>
		<xsd:documentation>2014-03-27-MVV- Changed- Length for following elements based on US8536.
ItemMaster\Item\ExtendedAttributes\Style\StyleDescription new length needs to 255.
ItemMaster\Item\ExtendedAttributes\ColorAttributes\Color\Code new length needs to be 40.
ItemMaster\Item\ExtendedAttributes\ColorAttributes\Color\Description new length needs to 255.
ItemMaster\Item\ExtendedAttributes\SizeAttributes\Size\Code new length needs to be 40.
ItemMaster\Item\ExtendedAttributes\SizeAttributes\Size\Description new length needs to 255.
ItemMaster\Item\ExtendedAttributes\HazardousMaterialCode new length to be 4 from 3.		
		</xsd:documentation>
		<xsd:documentation>2014-05-12-MVV- Added - Restrictions for StoreNet and VendorNet.</xsd:documentation>
		<xsd:documentation>2014-12-02-Subba- Added - SupplierPrefix and MaxGCAmount</xsd:documentation>
		<xsd:documentation>2014-12-03-Ritesh- Added - "SubscriptionAttributes" and its child elements</xsd:documentation>
		<xsd:documentation>2014-12-05-Manish- changed - description around the subscription.</xsd:documentation>
	</xsd:annotation>
	<!---->
	<xsd:include schemaLocation="CommonTypes.xsd"/>
	<xsd:include schemaLocation="external/ISOCurrencyCodeType-V2008.xsd"/>
	<xsd:complexType name="Complex.Attributes.Custom.Item" mixed="true">
		<xsd:annotation>
			<xsd:documentation>Custom Name/Value/Localized attributes.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Complex.Attributes.Custom">
				<xsd:sequence>
					<xsd:element name="Attribute" type="Complex.Custom.Attribute" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Complex.ExtendedAttrib.SubscriptionAttributes">
		<xsd:annotation>
			<xsd:documentation>Will be used for subcription like magazines etc</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SubscriptionEligible" type="Simple.Boolean.Type" default="false">
				<xsd:annotation>
					<xsd:documentation>Defines if the item is eligible for subscription or not. allowed values are true or false.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SubscriptionType">
				<xsd:annotation>
					<xsd:documentation>Allowed values - Fixed and Recurring. The Fixed subscription is tied very much to a SKU where the frequency and max duration is very much fixed and can't be altered by customer during checkout. Recurring is open ended where customer can select a frequency at which the item needs to be subscribed.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="Simple.StringType.256">
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SubscriptionFrequency" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Defines a frequency at which the item needs to be subscribed. e.g. weekly, monthly, bi-weekly, daily. This can't be altered for fixed subscription. This can be a comma separated list or single value depending on how the web store is configured.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="Simple.StringType.256">
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="MaxSubscriptionInterval" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This defines the max duration for a fixed subscription. e.g. 1 year.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="Simple.StringType.256">
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SubscriptionStartDate" type="Simple.DateTime.Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Not Supported currently, for future use only. This would enable the future start date of any susbcription, currently the subscription start as sonn as it is selected.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Complex.Attributes.Extended.Item" mixed="true">
		<xsd:annotation>
			<xsd:documentation>Known Attributes, optional with default values assigned.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Complex.Attributes.Extended">
				<xsd:sequence>
					<xsd:element name="ItemTitle" type="Complex.StringType.Description.OperationType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>ItemTitle to support Multi-Locale for StoreNet 
Allowable Values: Text string
Required: No
Length: 4000
Default Value: blank
Restrictions: N/A
Aliases: N/A</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="IspEligible" type="Simple.Boolean.Type" default="false" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Required for StoreNet</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="InventoryCheckEligible" type="Simple.Boolean.Type" default="false" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Required for StoreNet</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="IspReserveEligible" type="Simple.Boolean.Type" default="false" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Required for StoreNet</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="StsEligible" type="Simple.Boolean.Type" default="false" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Required for StoreNet</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SfsEligible" type="Simple.Boolean.Type" default="false" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Required for StoreNet</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SubscriptionAttributes" type="Complex.ExtendedAttrib.SubscriptionAttributes">
						<xsd:annotation>
							<xsd:documentation>Will be used for subcription like magazines etc</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="AllowGiftMessage" type="Simple.Boolean.Type" default="true" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>If this flag is false the customer cannot add a gift message to the item. 
Allowable Values: Boolean. 
Required: No
Length: TBD
Default Value: true
Restrictions: N/A
Aliases: N/A
Offering: Magento, SOMS, Interfaces and Tools</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Brand" type="Complex.Brand.Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Encapsulates the selling name and description used to identify a product for advertising purposes.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Buyer" type="Complex.Buyer.Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Encapsulates the information related to the individual/organization responsible for the procurement of the merchandise.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ColorAttributes" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Item color or colors.  Localized.  Repeat per Language.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence minOccurs="0">
								<xsd:element name="Color" type="Complex.Attribute.ValueDescSeq">
									<xsd:annotation>
										<xsd:documentation> StoreNet and VendorNet can only support upto 10 chars for Color Code and 20 chars for Color Description.</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="CompanionFlag" default="Yes" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Specifies if the item is a companion or can be shipped alone. 
Allowable Values:
Yes - this item may ship alone.  
No - this item is canceled if not shipped with companion, 
Maybe - other factors decide.
Required: No
Length: 10
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Magento, SOMS, Interfaces and Tools</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="Simple.StringType.10">
								<xsd:enumeration value="Yes"/>
								<xsd:enumeration value="No"/>
								<xsd:enumeration value="Maybe"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CountryOfOrigin" type="ISOCountryCodeType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>A country in which goods were completely derived or manufactured. 
Allowable Values: Text string
Required: No for domestic shipments but yes for international shipments.
Length: 2
Default Value: blank
Restrictions:  Follow the ISO 3166 two letter/alpha format.  http://www.iso.org/iso/country_codes.htm
Aliases: N/A
Offering: Magento, SOMS, Interfaces and Tools</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="FulfillmentOverride" type="Simple.StringType.40" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Ability to control the fulfillment of an item. This allows clients to override the fulfillment sourcing for any given item. for e.g.  "StoreOnly", "WarehouseOnly", "DC001Only."
Allowable Values: Text string
Required: No
Length: 40
Default Value: blank
Restrictions:  Needs to be pre-agreed on the values before sending on item master. 
Aliases: N/A
Offering: SOMS, Interfaces and Tools</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="GiftCardFacing" type="Simple.StringType.Description.Value" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>A free text description of the facing or style this gift card represents.
Allowable Values: Text string
Required: No
Length: 4000
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Magento, Interfaces and Tools</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="GiftCardTenderCode" type="Simple.StringType.3" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Type of gift card to be used for activation.
Allowable Values: 
SD         TRU DIGITAL GIFT CARD
SP         SVS Physical Gift Card 
ST         SmartClixx Gift Card Canada
SV         SVS Virtual Gift Card
SX         SmartClixx Gift Card 
Required: No
Length: 3
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Magento, SOMS, Interfaces and Tools</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MaxGCAmount" type="Complex.StyleType.StyleID">
						<xsd:annotation>
							<xsd:documentation>MaxGCAmount which is mandatory if the Item is Gift Item.
Required: No
Length: 15
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Magento, SOMS, Interfaces and Tools</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="HazardousMaterialCode" type="Simple.StringType.4" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates if the item is considered hazardous material. 
Offering: Magento, SOMS, Interfaces and Tools. VendorNet and StoreNet only support the boolean flag if an item is Hazardous or not. Any value sent in item would be considered as Hazardous in case of VendorNet and StoreNet. </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="IsEligibleForInstallationService" type="Simple.Boolean.Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Specifies if this item is eligible for an installation service.
Allowable Values: Boolean
true - item is eligible for an installation service
false - item is not eligible for an installation service
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Magento, SOMS, Interfaces and Tools</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="IsEligibleForWarranty" type="Simple.Boolean.Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Specifies if this item is eligible for a warranty purchase.
Allowable Values: Boolean
true - item is eligible for a warranty purchase
false - item is not eligible for a warranty purchase
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Magento, SOMS, Interfaces and Tools</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="IsHiddenProduct" type="Simple.Boolean.Type" default="false" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates that a product is not included in displays or in emails.
Allowable Values: Boolean
true - item is included in displays and emails
false - item is not included in displays and emails
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Magento, Interfaces and Tools</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ItemDimension" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Encapsulates the dimensional information used to describe the physical measurements of an item.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Display" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Dimension for displaying on the page or store.</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="Mass" type="Complex.StringType.ItemWeight">
												<xsd:annotation>
													<xsd:documentation>Weight of item used for Display.</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="Packaging" type="Complex.StringType.ItemDimension">
												<xsd:annotation>
													<xsd:documentation>Item dimensions within a package.</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="Shipping" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Dimensions for shipping the item.</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="Mass" type="Complex.StringType.ItemWeight">
												<xsd:annotation>
													<xsd:documentation>Weight of item used for shipping.</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="Packaging" type="Complex.StringType.ItemDimension">
												<xsd:annotation>
													<xsd:documentation>Item dimensions within a package.</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="Carton" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Dimensions of a carton of the item.</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="Mass" type="Complex.StringType.ItemWeight">
												<xsd:annotation>
													<xsd:documentation>Weight of a carton of the item.</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="Packaging" type="Complex.StringType.ItemDimension">
												<xsd:annotation>
													<xsd:documentation>Item dimensions within a carton package.</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="CartonType" type="Simple.StringType.100" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Used in combination with Ship Group to determine how the order is released by the OMS.  CartonType is determined on a per client basis.
Allowable Values: Text string
Required: No
Length: 100
Default blank
Restrictions: N/A
Aliases: N/A

Offering: Magento, SOMS, Interfaces and Tools</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="LotTrackingIndicator" type="Simple.Boolean.Type" default="false" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates if the item's lot assignment is required to be tracked.  
Allowable Values: Boolean
True = Yes
False = No. 
Required: No
Length: TBD
Default Value: False
Restrictions: N/A
Aliases: N/A

Offering: Magento,  Interfaces and Tools</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="LTLFreightCost" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>LTL freight cost for the item.
Allowable Values: Decimal
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Magento, Interfaces and Tools</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:simpleContent>
								<xsd:restriction base="Complex.DecimalType">
									<xsd:totalDigits value="11"/>
									<xsd:fractionDigits value="3"/>
								</xsd:restriction>
							</xsd:simpleContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="ManufacturingDate" type="Simple.DateType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The date which the item was built/assembled by the manufacturer.  
Allowable Values: ISO 8601 standard with offset from UTC in xsd:datetime data format which is yyyy-mm-ddTHH:mm:ss-hh:mm for e.g. 2012-01-11T14:19:05-06:00.
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Exchange Platform, Webstore </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Manufacturer" type="Complex.Manufacturer.Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Encapsulates information related to the individual/organization that built/assembled the item.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MarketPlaceAttributes" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Known and custom attributes used by and for Market Place Integration. Named elements are stored as name@type.  Type is the attribute of MarketPlace.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence minOccurs="0">
								<xsd:element name="MarketPlace" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation>An individual Market Place identified by mp_name that the attributes are associated with.</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="Attribute" type="Complex.Custom.Attribute" minOccurs="0" maxOccurs="unbounded"/>
										</xsd:sequence>
										<xsd:attribute name="type" type="Simple.StringType.132" use="required">
											<xsd:annotation>
												<xsd:documentation>Attributes are associated to this market place name.  Agreed upon by client and eBay Enterprise / eBay, inc.</xsd:documentation>
											</xsd:annotation>
										</xsd:attribute>
										<xsd:attribute name="eligible" type="Simple.Boolean.Type" default="true"/>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="MayShipExpedite" type="Simple.Boolean.Type" default="true" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Specifies if the vendor can ship expedited shipments. 
Allowable Values: Boolean
false - do not offer overnight or 2-day shipment method on the webstore.
true - offer overnight or 2-day shipment method on the webstore
Required: No
Length: TBD
Default Value: true
Restrictions: N/A
Aliases: N/A
Offering: Magento,  Interfaces and Tools</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MayShipInternational" type="Simple.Boolean.Type" default="true" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Currently we have only US vendors but we should also consider international vendors. For international vendors, a US address is an international shipping address. This must be discussed directly with the vendors.
Allowable Values: Boolean
false - do not offer international shipping.
true - offer international shipping
Required: No
Length: TBD
Default Value: true
Restrictions: N/A
Aliases: N/A
Offering: Magento, Interfaces and Tools</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MayShipUSPS" type="Simple.Boolean.Type" default="true" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Specifies if this item can be shipped via US Postal Service? Default is true.
Allowable Values: Boolean
false - do not offer US Postal Service shipping.
true - offer US Postal Service shipping
Required: No
Length: TBD
Default Value: true
Restrictions: N/A
Aliases: N/A
Offering: Magento, SOMS, Interfaces and Tools</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MSRP" type="Simple.DecimalType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The list price of the item. Used for displaying was/is pricing in the web store.
Allowable Values: Decimal
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Magento,  Interfaces and Tools</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Price" type="Simple.DecimalType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Price item is sold at, pre promotions. Price changes are controlled using the Pricing Feed. WARNING - Sending in a CHANGE will cause a price event override.
Allowable Values: Decimal
Required: Required if and only if client has one store and this is a new item.
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Magento,  Interfaces and Tools</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SafetyStock" type="Simple.IntegerType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Not supported.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SalesClass" default="stock" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Based on inventory availablity, determines product display behavior for the item in the web store.
Allowable Values: 
stock - Item is cartable if inventory is available and street date has passed.
AdvanceOrderOpen - Inventory is not checked for add to cart.
AdvanceOrderLimited - Item is cartable if inventory is available regardless of street date.
backOrderLimited -  works as AdvanceOrderLimited for Webstore and AdvanceOrderOpen for OMS. In other words, Item when there is no inventory then Webstore doesn't take any new order but all orders captured in OMS will be backordered.
Required: No
Length: 25
Default Value: stock
Restrictions: N/A
Aliases: N/A 
Offering: Magento,  SOMS, Interfaces and Tools</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="Simple.StringType.25">
								<xsd:enumeration value="stock"/>
								<xsd:enumeration value="advanceOrderLimited"/>
								<xsd:enumeration value="advanceOrderOpen"/>
								<xsd:enumeration value="backOrderLimited"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SerialNumberType" type="Simple.StringType.2" default="" nillable="true" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Type of serial number to be scanned.
Allowable Values: Text string. Examples:
blank – no serial number
GC – gift card
EC – electronic serial number
Required: No
Length: 2
Default Value: blank
Restrictions: VendorNet and StoreNet only support the boolean flag if an item needs to be captured for serial number or not. Any value sent in item would be considered as 'Y' in case of VendorNet and StoreNet.
Aliases: N/A
Offering: Magento,  SOMS, Interfaces and Tools</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ServiceIndicator" type="Simple.Boolean.Type" default="false" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Identifies if the item is a service, for example, clothing embroidery, product monogramming, hemming, etc.   
Allowable Values: Boolean
true - item is a service
false - item is not a service
Required: No
Length: TBD
Default Value: false
Restrictions: N/A
Aliases: N/A
Offering: Magento,  Interfaces and Tools</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SetInfiniteInventory" type="Simple.StringType.1" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Ability to set the infinite inventory for any particular item, this is mainly used for items like warranties, virtual items, gift cards , customizations or any other service items.
Allowable Values: Y/N
Required: No
Length: 1
Default Value: N
Restrictions:  N/A
Aliases: N/A
Offering: SOMS, Interfaces and Tools</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ShipGroup" type="Simple.StringType.20" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Items with the same ShipGroup name can be shipped together.
Allowable Values: Text string
Required: No
Length: 20
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Magento,  SOMS, Interfaces and Tools</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ShipWindowMinHour" type="Simple.IntegerType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Minimum number of hours before the item may ship.
Allowable Values: Integer
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Magento,  SOMS, Interfaces and Tools</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ShipWindowMaxHour" type="Simple.IntegerType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Maximum number of hours before the item may ship.
Allowable Values: Integer
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Magento,  SOMS, Interfaces and Tools</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SizeAttributes" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Item size.  Localized.  Repeat per Language.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence minOccurs="0">
								<xsd:element name="Size" type="Complex.Attribute.ValueDescLocalize" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation> StoreNet and VendorNet can only support upto 10 chars for Size Code and 20 chars for Size Description.</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="SplitToOne" type="Simple.Boolean.Type" default="false" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Triggers OMS to split a line item with multiple quantity into multiple individual line items with a quantity each of 1.  Usually used for electronics with serial numbers and for gift cards.
Allowable Values: Boolean
true - split line item into multiple lines
false - do not split line item into multiple lines
Required: No
Length: TBD
Default Value: false
Restrictions: N/A
Aliases: N/A
Offering: Magento,   Interfaces and Tools</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="StreetDate" type="Simple.DateType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Earliest date the OMS will allocate the product.
Allowable Values: Date
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Magento,  SOMS, Interfaces and Tools</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Style" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Encapsulation of Style ID and Description.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="StyleID">
									<xsd:annotation>
										<xsd:documentation>A code that identifies the specific appearance type or variety in which an item is available.
Allowable Values: Text string
Required: Yes
Length: 15
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Magento,  SOMS, Interfaces and Tools
</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:simpleContent>
											<xsd:restriction base="Complex.StyleType.StyleID">
												<xsd:minLength value="1"/>
											</xsd:restriction>
										</xsd:simpleContent>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="StyleDescription" type="Simple.StringType.Description.Value" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>A short description or title of the style for the item.
Allowable Values: Text string
Required: No
Length: 255
Default Value: blank
Restrictions: StoreNet and VendorNet can only support upto 100 chars.
Aliases: N/A
Offering: Magento,  SOMS, Interfaces and Tools</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="Supplier" type="Complex.Supplier.Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Encapsulates the information related to the agency providing the goods or materials.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Surcharges" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Encapsulates information about fees and surcharges.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence maxOccurs="unbounded">
								<xsd:element name="Charge">
									<xsd:annotation>
										<xsd:documentation>Amount/Values of the surcharge.</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:simpleContent>
											<xsd:extension base="Simple.DecimalType">
												<xsd:attribute name="name" type="Simple.StringType.100" use="required">
													<xsd:annotation>
														<xsd:documentation>Fee or Surcharge Name provided by eBay Enterprise. Example: SURCHARGE_ALL_CALIFORNIA_USD.
Allowable Values: Text string
Required: No
Length: 100
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Magento,   Interfaces and Tools</xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
												<xsd:attribute name="currency_code" type="ISOCurrencyCodeType" use="required">
													<xsd:annotation>
														<xsd:documentation>Three-character ISO-4217 currency code.
Allowable Values: Text string
Required: Yes
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Magento,  SOMS, Interfaces and Tools</xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
											</xsd:extension>
										</xsd:simpleContent>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="UnitCost" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Encapsulates the information necessary to determine the individual cost per unit of measure for the merchandise. 
Offering: Magento,   Interfaces and Tools</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:simpleContent>
								<xsd:extension base="Simple.DecimalType">
									<xsd:attribute name="currency_code" type="ISOCurrencyCodeType" use="required">
										<xsd:annotation>
											<xsd:documentation>Three character ISO-4217 currency code.
Allowable Values: Text string
Required: Yes
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Magento,  SOMS, Interfaces and Tools</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:extension>
							</xsd:simpleContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="Warranty" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Used  when item is a warranty type.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Code" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Warranty Code (Need additional description)</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="Simple.StringType.Description.Value">
											<xsd:minLength value="1"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="PriceProvider">
									<xsd:annotation>
										<xsd:documentation>Determines the cost calucaltion. Valid values are FixedPrice, PriceRange, and Precentage.
Allowable Values: 
 - FixedPrice is the value provided in the Pricing Event feed.
 - Precentage is used to calacute the value based on the item this warranty relates to in the cart.
 - PriceRange is for a warranty based on the value of the cart.
Required: Yes
Length: 35
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Exchange Platform, Webstore</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="Simple.StringType.35">
											<xsd:minLength value="1"/>
											<xsd:enumeration value="FixedPrice"/>
											<xsd:enumeration value="Percentage"/>
											<xsd:enumeration value="PriceRange"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="TimePeriod" minOccurs="0" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation>The warranty time period says how long a warranty protects your product. 
Allowable Values: Text string
Required: No
Length: 4000
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Exchange Platform, Webstore</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:simpleContent>
											<xsd:restriction base="Complex.StringType.Description">
												<xsd:minLength value="1"/>
											</xsd:restriction>
										</xsd:simpleContent>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="Type" minOccurs="0" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation>The warranty type (product warranty, manufacturer's warranty or service plan). 
Allowable Values: Text string
Required: No
Length: 4000
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Magento,   Interfaces and Tools</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:simpleContent>
											<xsd:restriction base="Complex.StringType.Description">
												<xsd:minLength value="1"/>
											</xsd:restriction>
										</xsd:simpleContent>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Complex.Attributes.Base.Item" mixed="true">
		<xsd:annotation>
			<xsd:documentation>Base attributes that are required (mandatory) by feed.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Complex.Attributes.Base">
				<xsd:sequence>
					<xsd:element name="CatalogClass" default="regular">
						<xsd:annotation>
							<xsd:documentation>Specifies how an item displays in a catalog.
Allowable Values: 
always - always display the item 
nosale - never display the item 
regular - use web store rules to determine if the item is displayed
Required: Yes
Length: 15
Default Value: regular
Restrictions: N/A
Aliases: N/A
Offering: Magento, Interfaces and Tools</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="Simple.String.CatalogClass.Type">
								<xsd:minLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="IsDropShipped" type="Simple.Boolean.Type" default="false">
						<xsd:annotation>
							<xsd:documentation>Specifies if this item can be fulfilled using a drop shipper.
Allowable Values: 
false - item cannot be fulfulled using a drop shipper
true - item can be fulfilled using a drop shipper
Required: Yes
Length: TBD
Default Value: false
Restrictions: N/A
Aliases: N/A

Offering: Magento, SOMS, Interfaces and Tools</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ItemDescription">
						<xsd:annotation>
							<xsd:documentation>Short description of the item used in the OMS and WMS in the catalog’s base language. Stores having group sales must send a meaningful item description in the item master since the content feed is not loaded into OMS.
Allowable Values: Text string
Required: Yes
Length: 120
Default Value: blank
Restrictions: StoreNet and VendorNet can only support upto 100 chars.
Aliases: N/A
Offering: Magento, SOMS, Interfaces and Tools</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="Simple.StringType.Description.Value">
								<xsd:maxLength value="120"/>
								<xsd:whiteSpace value="collapse"/>
								<xsd:minLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ItemType">
						<xsd:annotation>
							<xsd:documentation>Specifies the type of item.  Not restricted by the schema. 
Allowable Values:
 - Custom - Customization SKUs.  A virtual item that represents a charge to the consumer to customize an item as well as a description of the customization options selected by the customer.   
 - Donation - Donation SKU.  A virtual item that represents a consumer's donation to a charitable cause.  
 - GC -  Physical Gift Cards.  
 - GiftMessage - This item is a Gift Message.  
 - GiftWrap - Physical Gift Wrap.  
 - Merch - A typical physically-fulfilled item.  
 - OGC - Online Gift Certificates that are hosted/processed by eBay Enterprise. They are our in-house product for gift certificates that don’t have a physical card associated with them (only a payment account number and PIN).  
PostSaleFulfillment - Post-sale fulfillment SKU.  A virtual item that needs to be classified separately from other virtual sku types such as Donation or Warranty SKUs.  
 - RefundOGC - Refund Online Gift Certificate. 'Refund' used for accounting purposes to differentiate Refunds from the original tender.  
 - RefundOGCForCOD - Refund online gift certificate issued against a COD order.  
 - RefundOGCForCVS - Refund online gift certificate issued against a CVS order.  
 - RefundVGC - Refund Virtual Gift Cards.  'Refund' used for accounting purposes to differentiate Refunds from the original tender.  
 - VGC - Functionally similar to OGC’s except they are processed by a 3rd-party gift-card provider (ex: SVS or ValueLink).   
 - Warranty - Product warranty.  A virtual item representing a warranty purchased for another physical item on the order.  
 - WarrantyDep - This item is a dependent warranty. May only be purchased with another item. Is not included in search results.  
 - WarrantyAloneAndDep - Warranty item may be sold independently or with the purchase of another item. Is included in search results.  
 - InstallSvcDep - This item is a type of installation service that maybe purchase with another item. When searching this item is not returned in the search results. This item may not be purchased alone.  
 - InstallSvcAloneAndDep - this item is a type of installation service that maybe purchased independently or with another item. When searching this item may be in the results.  
Required: Yes
Length: 100
Default Value: blank
Restrictions: N/A
Aliases: N/A

Offering: Magento, SOMS, Interfaces and Tools
</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="Simple.StringType.100">
								<xsd:minLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ItemStatus" default="Active">
						<xsd:annotation>
							<xsd:documentation>Indicates an item's availabliity.
Allowable Values: 
 - Active
 - Inactive (item is not displayed in catalog)
 - Discontinued
Required: Yes
Length: 15
Default Value: active
Restrictions: N/A
Aliases: N/A

Offering: Magento, SOMS, Interfaces and Tools</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="Simple.String.ItemStatus.Type">
								<xsd:minLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="TaxCode">
						<xsd:annotation>
							<xsd:documentation>The eBay Enterprise-assigned tax group to which the item belongs.
Allowable Values: Text string
Required: Yes
Length: 5
Default Value: blank
Restrictions: N/A
Aliases: N/A

Offering: Magento, SOMS, Interfaces and Tools</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="Simple.StringType.5">
								<xsd:minLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Hierarchy" type="Complex.Category.Hierarchy.Type">
						<xsd:annotation>
							<xsd:documentation>Encapsulates the merchandise structure for the item. Primarily used for reporting. The hierarchy is client-defined.  One example of use, by an apparel company might be as follows:
Department = client name
SubDepartment = Male, Female
Class = If the SubDepartment is "Femaile", possible classes might be "blouses", "pants", "shoes" "accessories", etc.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Complex.Bundle.Parent.Type">
		<xsd:annotation>
			<xsd:documentation> Type supporting Item Bundling</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="BundleItems" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Each Bundleitems element contains an itemID and an action used to modify a bundle. There is one BundleItems occurrence for each product in a bundle.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ItemID">
							<xsd:annotation>
								<xsd:documentation>The client or vendor ID for the item to be included in the bundle.
Allowable Values: Text string
Required: Yes
Length: 35
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Magento, SOMS, Interfaces and Tools</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:restriction base="Complex.String.ItemId.Type">
										<xsd:minLength value="1"/>
									</xsd:restriction>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Quantity" type="Simple.IntegerType" default="1">
							<xsd:annotation>
								<xsd:documentation>How many of the Item ID is in the bundle. 
Allowable Values: Integer
Required: Yes
Length: TBD
Default Value: 1
Restrictions: N/A
Aliases: N/A
Offering: Magento, SOMS, Interfaces and Tools
Offering: Exchange Platform, Webstore</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="operation_type" type="Simple.String.Operation.Type.AD" default="Add">
						<xsd:annotation>
							<xsd:documentation>Defines the action being taken.
Allowable Values: 
 - Add
 - Change
Required: No
Length: TBD
Default Value: Add
Restrictions: N/A
Aliases: N/A</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute ref="catalog_id"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="ship_together" type="Simple.Boolean.Type" default="false">
			<xsd:annotation>
				<xsd:documentation>Specifies if the items in a bundle must ship together. Typically set to "false" in instances when items cannot reasonably be packaged together or are coming from different locations. 
Allowable Values: 
true - items in the bundle must be shipped together
false - items in the bundle can be shipped separately or together
Required: No
Length: TBD
Default Value: false
Restrictions: N/A
Aliases: N/A
Offering: Magento,  Interfaces and Tools</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="Complex.ItemId.Type" mixed="true">
		<xsd:complexContent>
			<xsd:extension base="Complex.Attributes.Base">
				<xsd:sequence>
					<xsd:element name="ClientItemId">
						<xsd:annotation>
							<xsd:documentation>The unique SKU-level identifier for the item. This is the retailer/client unique item ID or SKU. This is the primary key for the Item Master. 
Allowable Values: Text string
Required: Yes
Length: 35
Default Value: blank
Restrictions:  This item ID may not change or the new key is considered a new item.  StoreNet currently supports the length upto 30 Chars.
Aliases: N/A
Offering: Magento, SOMS, Interfaces and Tools</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:simpleContent>
								<xsd:restriction base="Complex.String.ItemId.Type">
									<xsd:minLength value="1"/>
									<xsd:maxLength value="35"/>
								</xsd:restriction>
							</xsd:simpleContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="ClientAltItemId" type="Complex.String.ItemId.Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>An alternative item identifier provided by the client. The use of this field varies depending on the client and eBay Enterprise reporting needs.
Allowable Values: Text string
Required: No
Length: 35
Default Value: blank
Restrictions: N/A
Aliases: N/A</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ExtendedIDs" type="Complex.Custom.Extend.Id" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Allows for additional Item identifiers to be provided. These IDs are not configured to automatically pass thru across all consumer systems. It needs to be coordinated with all potential consumer system before the data is sent by client. </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="GTIN" type="Complex.GTIN.Type" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Global Trade Item Number also called UPC in the US, IAN (formerly EAN) in Europe, and JAN in Japan.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ManufacturerItemId" type="Complex.String.ItemId.Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The code assigned to the item by the manufacturer to uniquely identify the item.
Allowable Values: Text string
Required: No
Length: 35
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Exchange Platform, Webstore</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Complex.String.ItemId.Type" mixed="true">
		<xsd:simpleContent>
			<xsd:extension base="Simple.StringType.35"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="Simple.String.CatalogClass.Type" final="list">
		<xsd:restriction base="Simple.StringType.15">
			<xsd:whiteSpace value="collapse"/>
			<xsd:enumeration value="nosale"/>
			<xsd:enumeration value="regular"/>
			<xsd:enumeration value="always"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Simple.String.ItemStatus.Type" final="list">
		<xsd:annotation>
			<xsd:documentation> Item Status - Active</xsd:documentation>
			<xsd:documentation> Item Status - Deleted</xsd:documentation>
			<xsd:documentation> Item Status - I = Inactive</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="Simple.StringType.15">
			<xsd:enumeration value="Active"/>
			<xsd:enumeration value="Discontinued"/>
			<xsd:enumeration value="Inactive"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="ItemMaster">
		<xsd:annotation>
			<xsd:documentation>Root Element.  Encapsulates message for Item Master.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MessageHeader" type="MessageHeaderType">
					<xsd:annotation>
						<xsd:documentation>Encapsulates message routing data.  The elements included in this grouping are standard across all messages.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="Item" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Container for Basic SKU level information.
</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Item">
		<xsd:annotation>
			<xsd:documentation>Item Level message</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ItemId" type="Complex.ItemId.Type">
					<xsd:annotation>
						<xsd:documentation>Encapsulates the set of various references that can be used to identify an item/SKU.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="BaseAttributes" type="Complex.Attributes.Base.Item">
					<xsd:annotation>
						<xsd:documentation>All BaseAttributes are required elements to establish and or update the item.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="BundleContents" type="Complex.Bundle.Parent.Type" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Determines items included if this is a bundle product.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DropShipSupplierInformation" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>If this item is fulfilled by a Drop Shipper then Supplier Number, Supplier Name, and Supplier Part Number are required. Without the three values, the FILE will be rejected.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="SupplierPrefix" type="Complex.StyleType.StyleID">
								<xsd:annotation>
									<xsd:documentation>DropShip Supplier Prefix which indicates if the PO for this Item is Client Paid (e.g. 350) or eBay Paid (e.g. 290).
Allowable Values: Text string
Required: No
Length: 15
Default Value: blank
Restrictions: N/A
Aliases: N/A</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="SupplierName">
								<xsd:annotation>
									<xsd:documentation>Name of the Drop Ship Supplier fulfilling the item.
Allowable Values: Text string
Required: Yes
Length: 462
Default Value: blank
Restrictions: N/A
Aliases: N/A

Offering: Magento, SOMS, Interfaces and Tools</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="Simple.StringType.462">
										<xsd:minLength value="1"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="SupplierNumber">
								<xsd:annotation>
									<xsd:documentation>Unique eBay Enterprise-assigned code for this supplier. 
Allowable Values: Text string
Required: Yes
Length: 15
Default Value: blank
Restrictions: VendorNet and StoreNet can only support upto 10 chars.
Aliases: N/A

Offering: Magento, SOMS, Interfaces and Tools</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:restriction base="Complex.String.ItemId.Type">
											<xsd:minLength value="1"/>
										</xsd:restriction>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="SupplierPartNumber">
								<xsd:annotation>
									<xsd:documentation>ID or SKU used by Supplier to identify this item.
Allowable Values: 
Required: Yes
Length: 15
Default Value: blank
Restrictions: N/A
Aliases: N/A

Offering: Magento, SOMS, Interfaces and Tools</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:restriction base="Complex.String.ItemId.Type">
											<xsd:minLength value="1"/>
										</xsd:restriction>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ExtendedAttributes" type="Complex.Attributes.Extended.Item" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>ExtendedAttributes are named attributes most with known default values.  None are required.  Some may have required elements in the group if the group is included.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="CustomAttributes" type="Complex.Attributes.Custom.Item" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>CustomAttributes are name/value pairs. A locale is included for the value.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="EB2C" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Used by Exchange Platform clients only. Encapsulates required URLs and information.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ItemImageURLs" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Encapsulate Item Image URLs.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence minOccurs="0">
										<xsd:element name="ImageURL" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:anyURI">
														<xsd:attributeGroup ref="image_attributes"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ItemURLs" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Encapsulate Item URLs. An Item URL provides a link to a family, product, or cart page.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence minOccurs="0">
										<xsd:element name="ItemURL" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:anyURI">
														<xsd:attribute name="type" use="required">
															<xsd:annotation>
																<xsd:documentation>Use family, product, or cart.  For 11.2 only product is supported. </xsd:documentation>
															</xsd:annotation>
															<xsd:simpleType>
																<xsd:restriction base="Simple.StringType.32">
																	<xsd:enumeration value="webstore"/>
																	<xsd:enumeration value="moble"/>
																</xsd:restriction>
															</xsd:simpleType>
														</xsd:attribute>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="operation_type" type="Simple.String.Operation.Type.AC" use="optional" default="Change">
				<xsd:annotation>
					<xsd:documentation>Defines the action requested by the event. Add and Change. For an eBay Enterprise-fulfilled partner this field needs to be mandatory and accurate.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="gsi_client_id" type="Simple.ClientID.Type" use="required">
				<xsd:annotation>
					<xsd:documentation>This eBay Enterprise-provided value identifies the client/organization supplying data. The data supplier is typically an individual or organization for which eBay Enterprise is providing e-commerce, fulfillment, or other services.  
Allowable Values: Text string
Required: Yes
Length: 32
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Magento, SOMS</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute ref="catalog_id" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Complex.Category.Hierarchy.Type" mixed="true">
		<xsd:annotation>
			<xsd:documentation>Product Hierarchy</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DeptNumber" type="Simple.IntegerType">
				<xsd:annotation>
					<xsd:documentation>Product Hierarchy Level 1 (Dept).
Allowable Values: Integer
Required: Yes
Length: TBD
Default Value: blank
Restrictions: StoreNet and VendorNet can only support upto 3 chars.
Aliases: N/A
Offering: Exchange Platform, Webstore.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DeptDescription" type="Simple.StringType.25" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Product Hierarchy Level 1 description.
Allowable Values: Text string
Required: No
Length: 25
Default Value: blank
Restrictions: N/A
Aliases: N/A
Offering: Exchange Platform, Webstore

Offering: Magento, Interfaces and Tools</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SubDeptNumber" type="Simple.IntegerType">
				<xsd:annotation>
					<xsd:documentation>Product Hierarchy Level 2 (Sub-Dept).
Allowable Values: Integer
Required: Yes
Length: TBD
Default Value: blank
Restrictions: StoreNet and VendorNet can only support upto 3 chars.
Aliases: N/A
Offering: Magento, SOMS, Interfaces and Tools</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SubDeptDescription" type="Simple.StringType.25" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Product Hierarchy Level 2 description.
Allowable Values: Text string
Required: No
Length: 25
Default Value: blank
Restrictions: N/A
Aliases: N/A

Offering: Magento, Interfaces and Tools</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ClassNumber" type="Simple.IntegerType">
				<xsd:annotation>
					<xsd:documentation>Product Hierarchy Level 3 (Class).
Allowable Values: Integer
Required: Yes
Length: TBD
Default Value: blank
Restrictions: StoreNet and VendorNet can only support upto 3 chars.
Aliases: N/A
Offering: Magento, SOMS, Interfaces and Tools</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ClassDescription" type="Simple.StringType.25" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Product Hierarchy Level 3 description. 
Allowable Values: Text string
Required: No
Length: 25
Default Value: blank
Restrictions: N/A
Aliases: N/A

Offering: Magento, SOMS, Interfaces and Tools</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SubClass" type="Simple.IntegerType">
				<xsd:annotation>
					<xsd:documentation>SubClass code.
Allowable Values: Integer
Required: Yes
Length: TBD
Default Value: blank
Restrictions: StoreNet and VendorNet can only support upto 3 chars.
Aliases: N/A

Offering: Magento, SOMS, Interfaces and Tools</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SubClassDescription" type="Simple.StringType.25" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>SubClass description.
Allowable Values: Text string
Required: No
Length: 25
Default Value: blank
Restrictions: N/A
Aliases: N/A

Offering: Magento,  Interfaces and Tools</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
