src/app/code/community/EbayEnterprise/Eb2cCore/xsd/OrderShipment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 sp1 (http://www.altova.com) by Manish Vijayvergiya (GSI Commerce) -->
<!--W3C Schema generated by XMLSpy v2010 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="APIEnumerations.xsd"/>
	<xs:annotation>
		<xs:documentation>CONFRONTING API V1.3.1 </xs:documentation>
		<xs:documentation>20100112-Manish-Changed-Fixed the Grammatical Errors </xs:documentation>
		<xs:documentation>20100118-Manish-Changed - required/optional as per API </xs:documentation>
		<xs:documentation>20100118-Manish-Added-ExternalShipmentId </xs:documentation>
		<xs:documentation>20100118-Manish-Changed- Shipment and Carrier to be optional </xs:documentation>
		<xs:documentation>20100208-Manish-Added- VAT/Tax invoice information  </xs:documentation>
		<xs:documentation>20100208-Manish-Changed- Shipment to occur multiple times  </xs:documentation>
		<xs:documentation>20100408-Manish-Changed-Tax Information made optional</xs:documentation>
		<xs:documentation>20100419-Manish-Changed-QuantityBackordered and OMSItemId made optional</xs:documentation>
		<xs:documentation>20100514-Manish-Changed - Enumeration off for ReasonCode </xs:documentation>
		<xs:documentation>20100519-Manish-Changed - Enumeration off for CarrierId/ServiceLevel </xs:documentation>
		<xs:documentation>20100927-Walt_Bishop-Changed - Length of TrackingId from 25 to 30 chars</xs:documentation>
	</xs:annotation>
	<xs:element name="VersionReleaseNumber">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Value">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TrackingId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TrackingBoxNumber">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Standard">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SourceType" type="SourceType"/>
	<xs:element name="SourceId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SourceData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SourceId"/>
				<xs:element ref="SourceType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Shipment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CartonId" minOccurs="0"/>
				<xs:element ref="PromiseReceiptDate" minOccurs="0"/>
				<xs:element ref="Carrier" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SerialNumber">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ReplacementItemId">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ClientItemId"/>
				<xs:element ref="OMSItemId" minOccurs="0"/>
				<xs:element ref="ClientAltItemId" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="QuantityShipped">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="10"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="QuantityCancelled">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="10"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="QuantityBackordered">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="10"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PromiseReceiptDate" type="xs:date"/>
	<xs:element name="OrderType" type="OrderType"/>
	<xs:element name="OrderShipmentHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ClientId"/>
				<xs:element ref="FacilityId"/>
				<xs:element ref="ExternalFacilityId" minOccurs="0"/>
				<xs:element ref="OrderType"/>
				<xs:element ref="OMSOrderId"/>
				<xs:element ref="CustomerOrderId"/>
				<xs:element ref="TaxInvoiceType" minOccurs="0"/>
				<xs:element ref="TaxInvoiceId" minOccurs="0"/>
				<xs:element ref="ExternalShipmentId" minOccurs="0"/>
				<xs:element ref="OrderShipDateTime"/>
				<xs:element ref="ExtendedAttributes" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrderShipmentDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LineNumber"/>
				<xs:element ref="LineStatus"/>
				<xs:element ref="CancelReasonCode" minOccurs="0"/>
				<xs:element ref="ItemId"/>
				<xs:element ref="QuantityShipped"/>
				<xs:element ref="QuantityCancelled"/>
				<xs:element ref="QuantityBackordered" minOccurs="0"/>
				<xs:element ref="Shipment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="GiftCardId" minOccurs="0"/>
				<xs:element ref="SerialNumber" minOccurs="0"/>
				<xs:element ref="ExpirationDate" minOccurs="0"/>
				<xs:element ref="LotId" minOccurs="0"/>
				<xs:element ref="ExtendedAttributes" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrderShipmentData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OrderShipmentHeader"/>
				<xs:element ref="OrderShipmentDetail" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrderShipment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MessageHeader"/>
				<xs:element ref="OrderShipmentData" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrderShipDateTime" type="xs:dateTime"/>
	<xs:element name="OMSOrderId">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:totalDigits value="14"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OMSItemId">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:totalDigits value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MessageId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MessageHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Standard"/>
				<xs:element ref="HeaderVersion"/>
				<xs:element ref="VersionReleaseNumber"/>
				<xs:element ref="SourceData"/>
				<xs:element ref="DestinationData" maxOccurs="unbounded"/>
				<xs:element ref="EventType"/>
				<xs:element ref="MessageData"/>
				<xs:element ref="CreateDateAndTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MessageData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MessageId"/>
				<xs:element ref="CorrelationId"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LotId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LineStatus" type="LineStatus"/>
	<xs:element name="LineNumber">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:totalDigits value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemId">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ClientItemId"/>
				<xs:element ref="OMSItemId" minOccurs="0"/>
				<xs:element ref="ClientAltItemId" minOccurs="0"/>
				<xs:element ref="ReplacementItemId" minOccurs="0"/>
				<xs:element ref="ExtendedAttributes" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HeaderVersion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="GiftCardId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FacilityId">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:totalDigits value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ExternalFacilityId">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:totalDigits value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ExternalShipmentId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ExtendedAttributes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name" minOccurs="0"/>
				<xs:element ref="Description" minOccurs="0"/>
				<xs:element ref="Value" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ExpirationDate" type="xs:date"/>
	<xs:element name="EventType" type="EventType"/>
	<xs:element name="DestinationType" type="DestinationType"/>
	<xs:element name="DestinationId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DestinationData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DestinationId"/>
				<xs:element ref="DestinationType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Description">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustomerOrderId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CreateDateAndTime" type="xs:dateTime"/>
	<xs:element name="CorrelationId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ClientItemId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ClientId">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:totalDigits value="7"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ClientAltItemId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CartonId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="25"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CarrierServiceLevel">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="6"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CarrierId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Carrier">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name" minOccurs="0"/>
				<xs:element ref="CarrierId"/>
				<xs:element ref="CarrierServiceLevel"/>
				<xs:element ref="TrackingId" minOccurs="0"/>
				<xs:element ref="TrackingBoxNumber" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CancelReasonCode" type="ReasonCode"/>
	<xs:element name="TaxInvoiceId" type="InvoiceId"/>
	<xs:element name="TaxInvoiceType" type="InvoiceType"/>
	<xs:simpleType name="InvoiceType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InvoiceId">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReasonCode">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
