src/app/code/community/EbayEnterprise/Eb2cCore/xsd/OrderShipment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 sp1 (http://www.altova.com) by William Linebarger (GSI Commerce) -->
<!--W3C Schema generated by XMLSpy v2010 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!--xs:include schemaLocation="APIEnumerations.xsd"/-->
	<xs:annotation>
		<xs:documentation>CONFRONTING API V2.3</xs:documentation>
		<xs:documentation>20100112-Manish Vijayvergiya-Changed-Fixed the Grammatical Errors </xs:documentation>
		<xs:documentation>20100118-Manish Vijayvergiya-Changed - required/optional as per API </xs:documentation>
		<xs:documentation>20100118-Manish Vijayvergiya-Added-ExternalShipmentId </xs:documentation>
		<xs:documentation>20100118-Manish Vijayvergiya-Changed- Shipment and Carrier to be optional </xs:documentation>
		<xs:documentation>20100208-Manish Vijayvergiya-Added- VAT/Tax invoice information  </xs:documentation>
		<xs:documentation>20100208-Manish Vijayvergiya-Changed- Shipment to occur multiple times  </xs:documentation>
		<xs:documentation>20100408-Manish Vijayvergiya-Changed-Tax Information made optional</xs:documentation>
		<xs:documentation>20100419-Manish Vijayvergiya-Changed-QuantityBackordered and OMSItemId made optional</xs:documentation>
		<xs:documentation>20100514-Manish Vijayvergiya-Changed - Enumeration off for ReasonCode </xs:documentation>
		<xs:documentation>20100519-Manish Vijayvergiya-Changed - Enumeration off for CarrierId/ServiceLevel </xs:documentation>
		<xs:documentation>20100927-Manish Vijayvergiya-Changed - Length of TrackingId from 25 to 22 chars</xs:documentation>
		<xs:documentation>20110121-Rob Olden-Changed - Extended OMSOrderId, ClientAltItemId, TrackingID, SerialNumber, and LotID</xs:documentation>
		<xs:documentation>20110126-Rob Olden-Changed - Added ActualFreightCharge, ContainerType, ContainerLength, ContainerLengthUOM, ContainerWidth, ContainerWidthUOM, ContainerHeight, ContainerHeightUOM, ContainerGrossWeight, and ContainerGrossWeightUOM</xs:documentation>
		<xs:documentation>20110209-Mike-Added - Repeating SerialNumberData group to Shipment containing SerialNumberSequence, SerialNumber, and GiftCardNumber elements</xs:documentation>
		<xs:documentation>20110209-Bill Linebarger -changed length or type - DateTime, ClientId, FacilityId, ExternalFacilityId, OrderType, OrderShipDateTime, CarrierId, CarrierServiceLevel</xs:documentation>
		<xs:documentation>20110901-Bill Linebarger - Changed length of ExternalShipmentId to 40 and CartonId to 40.  Added annotations where document was lacking.</xs:documentation>
		<xs:documentation>20110919-Manish Vijayvergiya - Removed the Enumeartion on DestinationType, EventType and SourceType. Added Enumeration on OrderType, LineStatus in main Schema</xs:documentation>
		<xs:documentation>20111221-Bill Linebarger-Added PricePaidInStore and StoreAddress - complex</xs:documentation>
		<xs:documentation>20120110-Manish Vijayvergiya - Validated the schema and removed extra elements, fixed enumerations</xs:documentation>
		<xs:documentation>20120401-Manish Vijayvergiya - Removed -Ext Attributes under ReplacementItemId, Changed- made TrackingBoxNumber and TrackingId optional</xs:documentation>
		<xs:documentation>20131003-Manish Vijayvergiya - Added - an enumeration "T" for LineStatus and new element FirstAvailableDate</xs:documentation>
		<xs:documentation>20131111-Manish Vijayvergiya-Changed-length of ClientItemId to be 35 from 15, made postal code and CorrelationId optional, added GsiCatalogId to be in sync with product hub</xs:documentation>
		<xs:documentation>20140409 - Leslie Polss - Update terminology in annotations, from GSI and EB2C to eBay Enterprise and Exchange Platform.</xs:documentation>
	</xs:annotation>
	<xs:element name="OrderShipment">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MessageHeader">
					<xs:annotation>
						<xs:documentation>Encapsulates message routing data. The elements included in this grouping are standard across all messages.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Standard">
								<xs:annotation>
									<xs:documentation>Code identifying the schema controlling agency.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="HeaderVersion">
								<xs:annotation>
									<xs:documentation>Version of the message being used. Each new version whole number represents a significant change from a previous whole version and reflects a need for upgrades. For example, a change from Version 1.X to 2.X represents a substantial change in the framework and would be a recommended upgrade point.  A change in the number after the decimal represents a minor upgrade/modification to the framework.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="VersionReleaseNumber">
								<xs:annotation>
									<xs:documentation>Release number within the current message header version number.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="SourceData">
								<xs:annotation>
									<xs:documentation>Encapsulates data related to the Source or the Sending system.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="SourceId">
											<xs:annotation>
												<xs:documentation>Unique identifier of the System that originated the message. The SourceId is a unique identifier provided by the initiator of the message.  For those messages originating from an Order Management System (OMS), it would be the unique OMS identifier.  For those messages originating from a Warehouse Management System (WMS), it would be the unique WMS identifier.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SourceType">
											<xs:annotation>
												<xs:documentation>The descriptive category/name/code used to define the system that originated the message. OMS = Order Management System, WMS = Warehouse Management System.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="DestinationData" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Encapsulates data related to the Destination or Receiving system.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DestinationId">
											<xs:annotation>
												<xs:documentation>Unique identifier of the System that is the intended recipient of the message. There can be more than one DestinationId/DestinationType sets per message to allow for one message to be sent to multiple receiving systems.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DestinationType">
											<xs:annotation>
												<xs:documentation>The descriptive category used to define the system that is the intended recipient of the message. OMS = Order Management System, WMS = Warehouse Management System. </xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="EventType">
								<xs:annotation>
									<xs:documentation>The name of the event to which the message pertains.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="35"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="MessageData">
								<xs:annotation>
									<xs:documentation>Encapsulates message identification information.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="MessageId">
											<xs:annotation>
												<xs:documentation>Globally unique identifier for each message. The MessageId will be populated from the source system and must be a global identifier for eBay Enterprise Xchange.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CorrelationId" minOccurs="0">
											<xs:annotation>
												<xs:documentation>When present, it must contain the MessageId value of an earlier eBay Enterprise Xchange Message to which this message relates.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="CreateDateAndTime" type="xs:dateTime">
								<xs:annotation>
									<xs:documentation>Original message creation date and time assigned by the Source. Follows ISO 8601 standard with offset from UTC.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="OrderShipmentData" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Data structure containing all order shipment data.  For multiple order shipments, this section is repeated within the message.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="OrderShipmentHeader">
								<xs:annotation>
									<xs:documentation>Header level information.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ClientId" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The identifier provided by eBay Enterprise for an individual or organization.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="32"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="FacilityId">
											<xs:annotation>
												<xs:documentation>Unique identifier assigned to the facility housing the goods. Typically a distribution center or physical warehouse.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="32"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ExternalFacilityId" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The unique identifier that maps to what an external client/facility uses to identify their facility.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="32"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="OMSOrderId">
											<xs:annotation>
												<xs:documentation>The OMS OrderId created internally by the OMS. The OMS Order ID is a combination of the 12-digit OMS order number and the 3-digit release sequence.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:totalDigits value="15"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CustomerOrderId">
											<xs:annotation>
												<xs:documentation>The Order ID that is visible to the consumer, typically this is known as the web order ID.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="30"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TaxInvoiceType" type="InvoiceType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Tax Type.  Ex, VAT.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="TaxInvoiceId" type="InvoiceId" minOccurs="0">
											<xs:annotation>
												<xs:documentation>If a VAT invoice is sent with the shipment, this is the VAT invoice ID. Typically the base VAT invoice ID is supplied in the OrdersToFulfill feed (ex 8765445) and the appended counter (-001 or -002) is included by the warehouse when an order shipment is split.  If the order is not split, then no appended value is included.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ExternalShipmentId" minOccurs="0">
											<xs:annotation>
												<xs:documentation>A third-party fulfillers shipment identifier.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="40"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="OrderShipDateTime" type="xs:dateTime" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The date and time in which the order was shipped from the facility or cancelled at facility. This is required in case of order shipments. Follows ISO 8601 standard with offset from UTC in xsd datetime format.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ExtendedAttributes" type="ExtendedAttributes" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="OrderShipmentDetail" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Detailed shipment information.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="LineNumber">
											<xs:annotation>
												<xs:documentation>The line number in the order.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:totalDigits value="4"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LineStatus">
											<xs:annotation>
												<xs:documentation>The status of the line.  
Allowable Values: 
B0 - Back ordered
S - Shipped
X - Cancelled
T - Multiple Tracking for same line when split shipment happens wihout knowledge of the actual quantity in each box
Required: Yes
Length: 2
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2"/>
													<xs:enumeration value="S">
														<xs:annotation>
															<xs:documentation>Shipped</xs:documentation>
														</xs:annotation>
													</xs:enumeration>
													<xs:enumeration value="X">
														<xs:annotation>
															<xs:documentation>Cancelled</xs:documentation>
														</xs:annotation>
													</xs:enumeration>
													<xs:enumeration value="BO">
														<xs:annotation>
															<xs:documentation>Backordered</xs:documentation>
														</xs:annotation>
													</xs:enumeration>
													<xs:enumeration value="T">
														<xs:annotation>
															<xs:documentation>Multiple Tracking for same line when split shipment happens wihout knowledge of the actual quantity in each box.</xs:documentation>
														</xs:annotation>
													</xs:enumeration>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CancelReasonCode" type="ReasonCode" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The facility-supplied cancel reason code for items that are cancelled. See Appendix A for list.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ItemId">
											<xs:annotation>
												<xs:documentation>Structure containing information on the shipped item.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="GsiCatalogId" minOccurs="0">
														<xs:annotation>
															<xs:documentation>This eBay Enterprise -assigned value specifies to which catalog an item belongs. An item may belong to only one catalog. Used to cross category link products.  
Allowable Values: Text string
Required: Yes either at standard element level or thru extended attributes.
Length: 4
Restrictions: The catalog ID must exist in the eBay Enterprise system.
</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="4"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ClientItemId">
														<xs:annotation>
															<xs:documentation>The retailer's/client's/partner's SKU number or unique item identifier. (Partner Item Number)</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="35"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="OMSItemId" minOccurs="0">
														<xs:annotation>
															<xs:documentation>The Order Management Systems internally assigned SKU or unique item identifier.</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:integer">
																<xs:totalDigits value="9"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ClientAltItemId" minOccurs="0">
														<xs:annotation>
															<xs:documentation>An Alternative item identifier provided by the client.  Typically used for reference information only and not to identify/locate an item.</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="15"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ReplacementItemId" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Structure containing information on the item used as a replacement.</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="GsiCatalogId" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>This eBay Enterprise -assigned value specifies to which catalog an item belongs. An item may belong to only one catalog. Used to cross category link products.  
Allowable Values: Text string
Required: Yes either at standard element level or thru extended attributes.
Length: 4
Restrictions: The catalog ID must exist in the eBay Enterprise system.
</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="4"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ClientItemId">
																	<xs:annotation>
																		<xs:documentation>The retailer's/client's/partner's SKU number or unique item identifier. (Partner Item Number)</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="35"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="OMSItemId" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>The Order Management Systems internally assigned SKU or unique item identifier.</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:integer">
																			<xs:totalDigits value="9"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ClientAltItemId" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>An Alternative item identifier provided by the client.  Typically used for reference information only and not to identify/locate an item.</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="15"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ExtendedAttributes" type="ExtendedAttributes" minOccurs="0" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="QuantityShipped">
											<xs:annotation>
												<xs:documentation>The number of items shipped.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="10"/>
													<xs:fractionDigits value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="QuantityCancelled">
											<xs:annotation>
												<xs:documentation>The number of items cancelled from the order.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="10"/>
													<xs:fractionDigits value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="QuantityBackordered" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The number of items placed on backorder.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="10"/>
													<xs:fractionDigits value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PricePaidInStore" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="16"/>
													<xs:fractionDigits value="5"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="StoreAddress" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Encapsulates the store address.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CompanyName" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="AddressLine1" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="70"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="AddressLine2" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="70"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="AddressLine3" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="70"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="City">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="35"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="StateOrProvince" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="35"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="CountyOrLocality" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="20"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="CountryCode">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="PostalCode" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="35"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Shipment" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Shipment related data.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CartonId" minOccurs="0">
														<xs:annotation>
															<xs:documentation>The carton number of the shipment.</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="40"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="SerialNumberData" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Gift card serial number information.</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="SerialNumberSequence" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>The sequence number of the gift card.</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="4"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="SerialNumber" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>The unique serial number of the gift card.</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="120"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="GiftCardId" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>The unique card number of the gift card.</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="30"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="PromiseReceiptDate" type="xs:date" minOccurs="0">
														<xs:annotation>
															<xs:documentation>The Expected date of when the merchandise contained in the order shipment confirmation will be received by the consumer.  For example, 2009-03-31.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Carrier" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Carrier Data</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Name" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>The name of the company responsible for the transportation of goods from the source location to the destination location.</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="30"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="CarrierId">
																	<xs:annotation>
																		<xs:documentation>The unique reference for the external party that transports merchandise and/or supply items from their source to the destination and from the destination back to their source. (Carrier Code)  See Appendix A.</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="4"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="CarrierServiceLevel">
																	<xs:annotation>
																		<xs:documentation>The method which the goods will be shipped to the destination facility. (Carrier Mode) See Appendix A.</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="40"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="TrackingId" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>The tracking number assigned by the carrier.</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="40"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="TrackingBoxNumber" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>The number of boxes to be delivered.</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="3"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ActualFreightCharge" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Freight charge on the shipment.</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Amount">
																	<xs:annotation>
																		<xs:documentation>Numeric amount of the freight.</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:decimal">
																			<xs:totalDigits value="16"/>
																			<xs:fractionDigits value="5"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="CurrencyCode">
																	<xs:annotation>
																		<xs:documentation>ISO 4217 Standard Currency Code.  http://www.iso.org/iso/support/currency_codes_list-1.htm</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="3"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ContainerType" minOccurs="0">
														<xs:annotation>
															<xs:documentation>The type of container used in the shipment.</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="6"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ContainerLength" minOccurs="0">
														<xs:annotation>
															<xs:documentation>The length of the container.</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:decimal">
																<xs:totalDigits value="15"/>
																<xs:fractionDigits value="5"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ContainerLengthUOM" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Unit of measure of the length.</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="40"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ContainerWidth" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Width of the container.</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:decimal">
																<xs:totalDigits value="15"/>
																<xs:fractionDigits value="5"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ContainerWidthUOM" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Unit of measure of the width.</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="40"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ContainerHeight" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Height of the container.</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:decimal">
																<xs:totalDigits value="15"/>
																<xs:fractionDigits value="5"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ContainerHeightUOM" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Unit of measure of the height.</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="40"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ContainerGrossWeight" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Weight of the container.</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:decimal">
																<xs:totalDigits value="15"/>
																<xs:fractionDigits value="5"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ContainerGrossWeightUOM" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Unit of measure of the container weight.</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="40"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="LotId" minOccurs="0">
											<xs:annotation>
												<xs:documentation>An identifier for a batch or group of items. The identification of this grouping normally comes from the manufacturer and normally applies to items that are dependent on matching of colors or detailed tracking requirements.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="40"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="FirstAvailableDate" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Date when the item will be available to ship in WMS in case of Line Status is "BO".
Allowable Values: ISO 8601 standard with offset from UTC in datetime data format which is yyyy-mm-ddTHH:mm:ss-hh:mm for e.g. 2012-01-11T14:19:05-06:00.
Required: Yes
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A
</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ExtendedAttributes" type="ExtendedAttributes" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="InvoiceType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InvoiceId">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReasonCode">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ExtendedAttributes">
		<xs:annotation>
			<xs:documentation>Encapsulates the customizable section of the message which allows for additional details to be added.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The short title of the additional attribute.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Description" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A brief description of the additional attribute.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Value" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The specific value of the additional attribute.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
