src/app/code/community/EbayEnterprise/Eb2cCore/xsd/PriceEventV11.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 (x64) (http://www.altova.com) by Leslie Polss (GSI Commerce Solutions, Inc.) -->
<!--W3C Schema generated by XMLSpy v2010 sp1 (http://www.altova.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cm="http://www.tm-xml.org/XMLSchema/common" elementFormDefault="qualified">
	<xsd:include schemaLocation="CommonTypes.xsd"/>
	<xsd:element name="Prices">
		<xsd:annotation>
			<xsd:documentation>Root Element.  Encapsulates message for Pricing Events.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MessageHeader" type="MessageHeaderType">
					<xsd:annotation>
						<xsd:documentation>Encapsulates message Routing data.  The elements included in this grouping are standard across all messages.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="PricePerItem" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Encapsulates the Price Per Item specific information.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PricePerItem">
		<xsd:annotation>
			<xsd:documentation>Price and Price Events per Item and Channel.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ClientItemId" type="Complex.StyleType.UniqID">
					<xsd:annotation>
						<xsd:documentation>Unique item identifier provided by the client that matches this price change to an existing item.  ClientItemId matches the values provided in the Item Master.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Event" type="Complex.Price.Events.Type" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Encapsulates the various price references that an item can have. Price or Price events may include localization by currency.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="gsi_store_id" type="Simple.ClientID.Type" use="required">
				<xsd:annotation>
					<xsd:documentation>ID for the selling channel or store.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="gsi_client_id" type="Simple.ClientID.Type" use="required">
				<xsd:annotation>
					<xsd:documentation>The identifier provided by eBay Enterprise for an individual or organization that has a contractual relationship with eBay Enterprise in which eBay Enterprise is providing e-commerce, fulfillment, or other services for the individual or organization.  </xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute ref="catalog_id" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Complex.Price.Events.Type">
		<xsd:sequence>
			<xsd:element name="EventNumber" type="Simple.StringType.4000" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Partner pricing event reference number.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EventDescription" type="Simple.StringType.4000" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Partner pricing event description.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Price" type="Simple.DecimalType">
				<xsd:annotation>
					<xsd:documentation>The "IS" price for the item for the time/date range.  Used for price calucations.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MSRP" type="Simple.DecimalType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Manufacturer Suggested Retail Price.  This price is NEVER used as the selling price for the item.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AlternatePrice1" type="Simple.DecimalType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Alternate Price 1 for WAS/IS/MAP price model. This price is NEVER used as the selling price for the item.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Warranty" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="Simple.DecimalType">
							<xsd:attribute name="is_invisible" type="Simple.Boolean.Type" default="true"/>
							<xsd:attribute name="quantity" type="Simple.DecimalType" default="1.0"/>
							<xsd:attribute name="unit" default="pcs.">
								<xsd:annotation>
									<xsd:documentation>Use pcs. Fixed Price and Percentage.  Use currency for Range.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="Simple.StringType.10">
										<xsd:enumeration value="pcs."/>
										<xsd:enumeration value="currency"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="StartDate" type="Simple.DateTime.Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Date and Time change will occur.  Default value is the system date/time when the event is processed. Use yyyy-mm-ddThh:mm:ss-hh:mm standard with offset from GMT/UTC.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EndDate" type="Simple.DateTime.Type" default="2500-12-31T23:59:59-00:00" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Date price will expire. Used for temporary or timed promotions / markdowns. The End Date must be after the  Start Date. The default value is end of the day 2500-12-31.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PriceVatInclusive" type="Simple.Boolean.Type" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>True if the price is VAT Inclusive.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Complex.Attributes.Custom.Price" mixed="true">
		<xsd:annotation>
			<xsd:documentation>Custom Name/Value/Localized attributes.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Complex.Attributes.Custom">
				<xsd:sequence>
					<xsd:element name="Attribute" type="Complex.Custom.Attribute" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
