src/app/code/community/EbayEnterprise/Eb2cCore/xsd/ReturnCreditRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 sp1 (http://www.altova.com) by user (private) -->
<!--W3C Schema generated by XMLSpy v2010 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!-- xs:include schemaLocation="APIEnumerations.xsd"/ -->
	<xs:annotation>
		<xs:documentation>ReturnCreditRequest API V2.3.1 </xs:documentation>
		<xs:documentation>20100118-Manish-Changed-Fixed the Grammatical Errors </xs:documentation>
		<xs:documentation>20100118-Manish-Added-OriginalExternalShipmentId </xs:documentation>
		<xs:documentation>20100118-Manish-Changed - length of OrderIds to be 14 or 30 </xs:documentation>
		<xs:documentation>20100118-Manish-Changed - required/optional as per API </xs:documentation>
		<xs:documentation>20100419-Manish-Changed - OMSItemId made Optional </xs:documentation>
		<xs:documentation>20100514-Manish-Changed - Enumeration off for ReasonCode </xs:documentation>
		<xs:documentation>20110121-Rob Olden-Changed - Extended length of OMSOrderID and ClientAltItemID</xs:documentation>
		<xs:documentation>20110121-Rob Olden-Changed - Added FacilityID</xs:documentation>
		<xs:documentation>20110628-Bill Linebarger-Changed - ClientId and FaciltyId to String.32 and ReturnDateTime from 28 to 26.</xs:documentation>
		<xs:documentation>20110628 continued - Added Extended Attributes to ReturnCreditRequestHeader</xs:documentation>
		<xs:documentation>20110628-Bill Linebarger - Changed length of OriginalOrderShipmentId from 30 to 40</xs:documentation>
		<xs:documentation>20110919-Manish V - Removed the Enumeartion on DestinationType, EventType and SourceType. Added Enumeration on DispositionCode in main Schema</xs:documentation>
		<xs:documentation>20110111-Manish Vijayvergiya - Corrected Schema</xs:documentation>
		<xs:documentation>20131111-Manish Vijayvergiya-Changed-length of ClientItemId to be 35 from 15, CorrelationId to be optional, added GsiCatalogId</xs:documentation>
		<xs:documentation>20140409 - Leslie Polss - Update terminology in annotations, from GSI and EB2C to eBay Enterprise and Exchange Platform.</xs:documentation>
		<xs:documentation>20140930 - Subba Reddy - Added MarketplaceOrderId</xs:documentation>
	</xs:annotation>
	<xs:element name="ReturnCreditRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MessageHeader">
					<xs:annotation>
						<xs:documentation>Encapsulates message routing data.  The elements included in this grouping are standard across all messages.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Standard">
								<xs:annotation>
									<xs:documentation>Code identifying the schema controlling agency.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="HeaderVersion">
								<xs:annotation>
									<xs:documentation>Version of the message being used.  Each new version whole number represents a significant change from a previous whole version and reflects a need for upgrades.  For example, a change from Version 1.X to 2.X represents a substantial change in the framework and would be a recommended upgrade point.  A change in the number after the decimal represents a minor upgrade/modification to the framework.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="VersionReleaseNumber">
								<xs:annotation>
									<xs:documentation>Release number within the current message header version number.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="SourceData">
								<xs:annotation>
									<xs:documentation>Encapsulates data related to the Source or the Sending system.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="SourceId">
											<xs:annotation>
												<xs:documentation>Unique identifier of the System that originated the message. The SourceId is a unique identifier provided by the initiator of the message.  For those messages originating from an Order Management System (OMS), it would be the unique OMS identifier.  For those messages originating from a Warehouse Management System (WMS), it would be the unique WMS identifier.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SourceType">
											<xs:annotation>
												<xs:documentation>The descriptive category/name/code used to define the system that originated the message. OMS = Order Management System, WMS = Warehouse Management System.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="DestinationData" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Encapsulates data related to the Destination or Receiving system.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DestinationId">
											<xs:annotation>
												<xs:documentation>Unique identifier of the System that is the intended recipient of the message.  There can be more than one DestinationId/DestinationType sets per message to allow for one message to be sent to multiple receiving systems.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DestinationType">
											<xs:annotation>
												<xs:documentation>The descriptive category used to define the system that is the intended recipient of the message. OMS = Order Management System, WMS = Warehouse Management System. </xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="EventType">
								<xs:annotation>
									<xs:documentation>The name of the event to which the message pertains.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="35"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="MessageData">
								<xs:annotation>
									<xs:documentation>Encapsulates message identification information. </xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="MessageId">
											<xs:annotation>
												<xs:documentation>Globally unique identifier for each message. The MessageId will be populated from the source system and must be a global identifier for eBay Enterprise Xchange.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CorrelationId" minOccurs="0">
											<xs:annotation>
												<xs:documentation>When present, it must contain the MessageId value of an earlier eBay Enterprise Xchange Message to which this message relates.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="CreateDateAndTime" type="xs:dateTime">
								<xs:annotation>
									<xs:documentation>Original message creation date and time assigned by the Source. Follows ISO 8601 standard with offset from UTC.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ReturnCreditRequestData" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Encapsulates the request details and allows for multiple Return Credit Requests to be sent from the WMS to the OMS.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ReturnCreditRequestHeader">
								<xs:annotation>
									<xs:documentation>Encapsulates the Header level information related to the Return Transaction.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ClientId" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The identifier provided by eBay Enterprise for an individual or organization that has a contractual relationship with eBay Enterprise in which eBay Enterprise is providing e-commerce, fulfillment or other services for the individual or organization.  Note - require gsi_store_id if not included.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="32"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="FacilityId">
											<xs:annotation>
												<xs:documentation>Unique identifier of the facility.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="32"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ReturnOrderId" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The identifier assigned to the return transaction.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="30"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ReturnDateTime" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>The date and time when the return order was received. Follows ISO 8601 standard with offset from UTC.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="OriginalOMSOrderId" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The Original Order Id assigned by the Order Management System. If the OriginalExternalShipmentId (A third-party fulfiller’s Shipment Identifier)  is present then the OriginalOMSOrderId becomes optional.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:totalDigits value="15"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="OriginalCustomerOrderId" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The Original Order Id that is known to the customer.  Typically this is assigned by the Web or Order Source System.  This is required if the OriginalOMSOrderId is not present.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="30"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="MarketplaceOrderId" minOccurs="0">
											<xs:annotation>
												<xs:documentation>For clients with MP who are unable to send the OriginalOMSOrderId in the RCR’s, we have found that OMS system will throw exception since they definitely need this value at their system for MP RCR’s to pass. The only work around is that OMS can still work with the 'Marketplace Order ID' – but they need it as OMS field “ExtnReferenceOrderNo”.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="30"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="OriginalExternalShipmentId" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The original External Shipment ID - A third-party fulfiller’s Shipment Identifier. If the OriginalOMSOrderId is not present then original External Shipment ID is required.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="40"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ExtendedAttributes" type="ExtendedAttributes" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ReturnCreditRequestDetail" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Encapsulates line level/item level details about the Return Order.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ReturnOrderLineNumber" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Line number of the return order.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:totalDigits value="4"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="OriginalOrderLineNumber" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Line number of the original order.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:totalDigits value="4"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ItemId">
											<xs:annotation>
												<xs:documentation>Encapsulates the set of various references that can be used to identify an item/SKU.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="GsiCatalogId" minOccurs="0">
														<xs:annotation>
															<xs:documentation>This eBay Enterprise -assigned value specifies to which catalog an item belongs. An item may belong to only one catalog. Used to cross category link products.  
Allowable Values: Text string
Required: Yes either at standard element level or thru extended attributes.
Length: 4
Restrictions: The catalog ID must exist in the eBay Enterprise system.
</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="4"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ClientItemId">
														<xs:annotation>
															<xs:documentation>The retailer's SKU or unique item identifier. (Partner Item Number)</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="35"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="OMSItemId" minOccurs="0">
														<xs:annotation>
															<xs:documentation>The eBay Enterprise SKU or unique item identifier.</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:integer">
																<xs:totalDigits value="9"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ClientAltItemId" minOccurs="0">
														<xs:annotation>
															<xs:documentation>An Alternative item identifier provided by the client.</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="15"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ExtendedAttributes" type="ExtendedAttributes" minOccurs="0" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="QuantityReturned">
											<xs:annotation>
												<xs:documentation>The quantity of the item returned.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="10"/>
													<xs:fractionDigits value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CustomerReasonCode" type="ReasonCode">
											<xs:annotation>
												<xs:documentation>The Customer identified reason for the return.  See Appendix A for list.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="FacilityReasonCode" type="ReasonCode">
											<xs:annotation>
												<xs:documentation>The Facility identified reason for the return.  See Appendix A for list.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="RTANumber" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The Return Authorization number, required for goods needing authorization before they can be accepted as a return.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="30"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DispositionCode" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Identifies the condition of the item.  Typically used  when an item is considered damaged when being  returned. S = Sellable, D = Non-sellable/Damaged.  See Appendix A for list.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1"/>
													<xs:enumeration value="D">
														<xs:annotation>
															<xs:documentation> D = Non-sellable/Damaged</xs:documentation>
														</xs:annotation>
													</xs:enumeration>
													<xs:enumeration value="S">
														<xs:annotation>
															<xs:documentation> S = Sellable</xs:documentation>
														</xs:annotation>
													</xs:enumeration>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LineComment" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Additional comments as necessary for the returned item.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="150"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ExtendedAttributes" type="ExtendedAttributes" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="ReasonCode">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ExtendedAttributes">
		<xs:annotation>
			<xs:documentation>Encapsulates the customizable section of the message which allows for additional details to be added.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The short title of the additional attribute.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Description" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A brief description of the additional attribute.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Value" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The specific value of the additional attribute.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
