src/app/code/community/EbayEnterprise/Eb2cCore/xsd/Token-Common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schema.gspt.net/token/1.0" xmlns="http://schema.gspt.net/token/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="DataType">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="Field" type="FieldType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FieldType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="key" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
