src/app/code/community/EbayEnterprise/Eb2cCore/xsd/Token-Fault-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schema.gspt.net/token/1.0" xmlns="http://schema.gspt.net/token/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Fault" type="FaultResponseType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Fault will be returned when an exception occurs that prevents a the transaction from being processed.
Examples:
Invalid user input that violates the service interface.
Sytem errors.
Access to tenders/features not configured for an API client.
A service that the system relies on is not available.
Validation failure.
A timeout occurred.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FaultResponseType">
		<xsd:sequence>
			<xsd:element name="CreateTimestamp" type="xsd:dateTime"/>
			<xsd:element name="Code" type="xsd:string"/>
			<xsd:element name="Description" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
