src/app/code/community/EbayEnterprise/Eb2cCore/xsd/UPCV11.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Thomas Lowery (GSI Commerce) -->
<!--W3C Schema generated by XMLSpy v2010 sp1 (http://www.altova.com)-->
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cm="http://www.tm-xml.org/XMLSchema/common" elementFormDefault="qualified">
	<xsd:annotation>
		<xsd:documentation>UPC Interface $Rev: 472 $</xsd:documentation>
		<xsd:documentation>$Id: UPCV11.xsd 472 2014-04-10 16:16:30Z polssl $</xsd:documentation>
		<xsd:documentation>$URL: http://svn.gspt.net/phx/ph-schemas/branches/4.4-Q4-11.9/UPCV11.xsd $</xsd:documentation>
	</xsd:annotation>
	<!--xsd:include schemaLocation="APIEnumerations.xsd"/-->
	<xsd:include schemaLocation="CommonTypes.xsd"/>
	<xsd:include schemaLocation="external/ISOCurrencyCodeType-V2008.xsd"/>
	<xsd:complexType name="Complex.ItemId.Type" mixed="true">
		<xsd:complexContent>
			<xsd:extension base="Complex.Attributes.Base">
				<xsd:sequence>
					<xsd:element name="ClientItemId" type="Complex.String.ItemId.Type">
						<xsd:annotation>
							<xsd:documentation>The retailer/client unique item ID or SKU used to identify this item.  This item ID may not change  or the new key is considered a new item.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ClientAltItemId" type="Complex.String.ItemId.Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>An alternative item identifier provided by the client.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ExtendedIDs" type="Complex.Custom.Extend.Id" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Allows additional item identifiers to be provided.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="GTIN" type="Complex.GTIN.Type" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Global Trade Item Number also call UPC in the US, IAN (formerly EAN), in Europe, and JAN in Japan.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ManufacturerItemId" type="Complex.String.ItemId.Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The code assigned to the item by the manufacturer to uniquely identify the item.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SupplierItemId" type="Complex.String.ItemId.Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The code assigned by the supplier to uniquely identify the item.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Complex.String.ItemId.Type" mixed="true">
		<xsd:simpleContent>
			<xsd:extension base="Simple.StringType.15"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="Simple.String.CatalogClass.Type" final="list">
		<xsd:restriction base="Simple.StringType.15">
			<xsd:whiteSpace value="collapse"/>
			<xsd:enumeration value="nosale"/>
			<xsd:enumeration value="regular"/>
			<xsd:enumeration value="always"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Simple.String.ItemStatus.Type" final="list">
		<xsd:annotation>
			<xsd:documentation> Item Status - A = Active</xsd:documentation>
			<xsd:documentation> Item Status - D = Deleted</xsd:documentation>
			<xsd:documentation> Item Status - H = Hold</xsd:documentation>
			<xsd:documentation> Item Status - I = Inactive</xsd:documentation>
			<xsd:documentation> Item Status - O = Obsolete</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="Simple.StringType.1">
			<xsd:whiteSpace value="collapse"/>
			<xsd:enumeration value="A"/>
			<xsd:enumeration value="D"/>
			<xsd:enumeration value="H"/>
			<xsd:enumeration value="I"/>
			<xsd:enumeration value="O"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Simple.String.Operation.Type.acd" final="">
		<xsd:annotation>
			<xsd:documentation> Operation Type, list extends type by adding 'C'.</xsd:documentation>
		</xsd:annotation>
		<xsd:union memberTypes="Simple.String.Operation.Type.ACD">
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:enumeration value="C"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:element name="UPCMaster">
		<xsd:annotation>
			<xsd:documentation>Root Element.  Encapsulates message for UPC.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MessageHeader" type="MessageHeaderType">
					<xsd:annotation>
						<xsd:documentation>Encapsulates message Routing data.  The elements included in this grouping are standard across all messages.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ClientId" type="Simple.IntegerType">
					<xsd:annotation>
						<xsd:documentation>The identifier provided by eBay Enterprise for an individual or organization that has a contractual relationship with eBay Enterprise in which eBay Enterprise is providing e-commerce, fulfillment or other services for the individual or organization.  </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="UPC" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Encapsulates the item-specific information.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:complexContent>
							<xsd:extension base="Complex.GTIN.Type">
								<xsd:attribute name="item_id" type="Simple.StringType.15" use="required">
									<xsd:annotation>
										<xsd:documentation>Item ID that matches this item with the item master.</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
								<xsd:attribute name="item_id_name" type="Simple.StringType.Description.Value" use="optional">
									<xsd:annotation>
										<xsd:documentation>The name of the item ID referenced in the item master.  Optional, informational only.</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
							</xsd:extension>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
