src/app/code/community/EbayEnterprise/Eb2cOrder/xsd/types/Address.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://api.gsicommerce.com/schema/events/1.0.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://api.gsicommerce.com/schema/events/1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="Common.xsd"/>
	<xsd:complexType name="ProxyPickupAddress">
		<xsd:annotation>
			<xsd:documentation>
                This address type is used on an order item when a proxy pickup is used and the
                user enters their address.  It is a subset of a physical address
            </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Line1" type="xs:string" minOccurs="0"/>
			<xsd:element name="Line2" type="xs:string" minOccurs="0"/>
			<xsd:element name="Line3" type="xs:string" minOccurs="0"/>
			<xsd:element name="Line4" type="xs:string" minOccurs="0"/>
			<xsd:element name="City" type="xs:string" minOccurs="0"/>
			<xsd:element name="MainDivisionCode" type="xs:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
                        Typically a two- or three-digit postal abbreviation for
                        the state or province.  Mainly used in Canada and the US.
                        This does not necessarily conform to the ISO 3166-2 code.
                    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CountryCode" type="xs:string" minOccurs="0"/>
			<xsd:element name="PostalCode" type="xs:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PhysicalAddress">
		<xsd:sequence>
			<xsd:element name="AddressId" type="xs:string"/>
			<xsd:element name="AddressType" type="AddressType"/>
			<xsd:element name="Line1" type="xs:string">
				<xsd:annotation>
					<xsd:documentation>The"Addres "sLine#" components contain the street address and, if necessary, suite and building identifiers for the physical address. 
Allowable Values: Text string
Required: Line1 is required. Other Line# components are optional.
Length: TBD
Default Value: blank
Restrictions: For U.S. addresses, the last Line# component valued before the U.S. state must contain the number and street. Additional address information, such as a building name or a department mustt precede it.
Aliases: N/A</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Line2" type="xs:string" minOccurs="0"/>
			<xsd:element name="Line3" type="xs:string" minOccurs="0"/>
			<xsd:element name="Line4" type="xs:string" minOccurs="0"/>
			<xsd:element name="BuildingName" type="xs:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Specifies a building designation to be used in an address. 
Allowable Values: Text string
Required: No 
Length: TBD
Default Value: blank
Restrictions: N/A</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PoBox" type="xs:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Post Office Box (do not pass PO Box as part of the request. I.e. 765)
Allowable Values: Text string
Required: No 
Length: TBD
Default Value: blank
Restrictions: N/A</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="City" type="xs:string">
				<xsd:annotation>
					<xsd:documentation>Name of the city.
Allowable Values: Text string
Required: Yes
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MainDivision" type="xs:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The state, province or other country sub-division code for the store address.
Allowable Values: Text string. ISO 3166-2 country sub-division code.
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MainDivisionCode" type="xs:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation> Typically a two- or three-digit postal abbreviation for the state or province.  Mainly used in Canada and the US.
his does not necessarily conform to the ISO 3166-2 code. This is changed to take a string 6-28-2011 by innmonp
before its type was MainDivisionCodeType.
Allowable Values: Text string
Required: Yes
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CountryName" type="xs:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The country where the address is located.
Allowable Values: Text string
Required: Yes
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CountryCode" type="CountryCodeType">
				<xsd:annotation>
					<xsd:documentation>The country code for the address.
Allowable Values: Text string. ISO 3166 alpha-2 country code.
Required: Yes
Length: 2
Default Value: blank
Restrictions: N/A
Aliases: N/A</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PostalCode" type="xs:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>An additional part of an address that further clarifies the location, for example, the zip code in the United States
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MailingAddress">
		<xsd:sequence>
			<xsd:element name="PersonName" type="UserName"/>
			<xsd:element name="Address" type="PhysicalAddress"/>
			<xsd:element name="DeliveryInstructions" type="xs:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StoreLocation">
		<xsd:sequence>
			<xsd:element name="StoreCode" type="xs:string"/>
			<xsd:element name="StoreName" type="xs:string"/>
			<xsd:element name="StoreEmail" type="xs:string"/>
			<xsd:element name="Address" type="PhysicalAddress"/>
			<xsd:element name="StoreDirectionsURL" type="xs:string" minOccurs="0"/>
			<xsd:element name="StoreHours" type="xs:string" minOccurs="0"/>
			<xsd:element name="StorePhoneNumber" type="xs:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DestinationTarget">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="MailingAddress" type="MailingAddress"/>
				<xsd:element name="StoreLocation" type="StoreLocation"/>
				<xsd:element name="Email" type="xs:string"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="AddressType">
		<xsd:annotation>
			<xsd:documentation>
				PSB - When Default Billing and Default Shipping are checked
				PB - When Default Billing is checked and neither shipping checkboxes are checked
				PS - When Default Shipping is checked and neither billing checkboxes are checked
				PSSB - When Default Shipping is checked and the secondary Billing checkbox is checked
				PBSS - When Default Billing is checked and the secondary Shipping checkbox is checked
				SSB - When the secondary Shipping and secondary Billing are the only flags checked
				SS - When the secondary Shipping checkbox is the only one checked
				SB - When the secondary Billing checkbox is the only one checked
				O - When no checkboxes are checked
				GSI_STORE_FRONT - When the Address type is a Retail Store (Ship to Store, In Store Pickup)
            </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xs:string">
			<xsd:enumeration value="PS"/>
			<xsd:enumeration value="SS"/>
			<xsd:enumeration value="PB"/>
			<xsd:enumeration value="SB"/>
			<xsd:enumeration value="O"/>
			<xsd:enumeration value="PSB"/>
			<xsd:enumeration value="PSSB"/>
			<xsd:enumeration value="PBSS"/>
			<xsd:enumeration value="SSB"/>
			<xsd:enumeration value="GSI_STORE_FRONT"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CountryCodeType">
		<xsd:annotation>
			<xsd:documentation>
                Two digit ISO country code conforming to ISO 3166 alpha 2.
                See: http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2
            </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xs:string">
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MainDivisionCodeType">
		<xsd:annotation>
			<xsd:documentation>
                Typically a two- or three-digit postal abbreviation for
                the state or province.  Mainly used in Canada and the US.
                This does not necessarily conform to the ISO 3166-2 code.
            </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xs:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AddressesType">
		<xsd:sequence>
			<xsd:element name="Address" type="PhysicalAddress" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrderAddressType">
		<xsd:sequence>
			<xsd:element name="PhysicalAddress" type="PhysicalAddress" nillable="false" minOccurs="0"/>
			<xsd:element name="Name" type="UserName" minOccurs="0"/>
			<xsd:element name="PhoneNumber" type="xs:string" minOccurs="0"/>
			<xsd:element name="CompanyName" type="xs:string" minOccurs="0"/>
			<xsd:element name="EmailAddress1" type="EmailType" minOccurs="0"/>
			<xsd:element name="EmailAddress2" type="EmailType" minOccurs="0"/>
			<xsd:element name="RetailStoreNumber" type="xs:string" minOccurs="0"/>
			<xsd:element name="RetailStoreName" type="xs:string" minOccurs="0"/>
			<xsd:element name="IsRegistrantAddress" type="xs:boolean" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
