src/app/code/community/EbayEnterprise/Eb2cOrder/xsd/types/Common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://api.gsicommerce.com/schema/events/1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://api.gsicommerce.com/schema/events/1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:simpleType name="SourceIdType">
		<xs:annotation>
			<xs:documentation>
                    The type of enterprise id.
                </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CHANNEL"/>
			<xs:enumeration value="STORE"/>
			<xs:enumeration value="SELLER"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SourceIdTextType">
		<xs:annotation>
			<xs:documentation>
                    The name assigned to the source id.  Examples: 'FOG', 'TRUS'. This will be required
                    as a top level attribute for all Order Service requests.
                </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="24"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SourceId">
		<xs:simpleContent>
			<xs:annotation>
				<xs:documentation>
                        Represents the channel, store code, or seller.
                    </xs:documentation>
			</xs:annotation>
			<xs:extension base="SourceIdTextType">
				<xs:attribute name="type" type="SourceIdType" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="KeyValuePair">
		<xs:annotation>
			<xs:documentation>
                Generic Key/Value pair used for partner customizations.
                Within a KeyValuePairList, keys must be unique
            </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Key" type="xs:string">
				<xs:annotation>
					<xs:documentation>Contains a key, such as "Loyalty Program"
Allowable Values: Text string
Required: Yes
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Value" type="xs:string">
				<xs:annotation>
					<xs:documentation>Contains a value, such as a loyalty program number.
Allowable Values: Text string
Required: Yes
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KeyValuePairList">
		<xs:annotation>
			<xs:documentation>
                A list of Generic Key/Value pair used for partner customizations.
                Example use: Loyalty Program
            </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KeyValuePair" type="KeyValuePair" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Contains a key and a value defined by the cllient.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--
    <xs:simpleType name="CurrencyAmountType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Represents a decimal currency with two decimal points. Sample value: 4.20
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    -->
	<xs:simpleType name="CurrencySymbolType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
                A currency symbol value
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrencyType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
                A currency value from the set of ISO 4217 currency codes
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PriceType">
		<xs:sequence>
			<xs:element name="Currency" type="CurrencyType" nillable="false">
				<xs:annotation>
					<xs:documentation>The type of currency (dollars, francs, etc.) associated with the monetary amount.
Allowable Values: ISO 4217 currency code. http://www.iso.org/iso/support/currency_codes_list-1.htm
Required: Yes
Length: 3
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencySymbol" type="CurrencySymbolType" nillable="false">
				<xs:annotation>
					<xs:documentation>The symbol associated with the currency type, for example $ or £.
Allowable Values: Text string
Required: Yes
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyAmount" type="xs:string" nillable="false">
				<xs:annotation>
					<xs:documentation>The monetary amount for the defined currencytype.
Allowable Values: Decimal
Required: Yes
Length: 16.5
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeltaCurrencyAmount" type="xs:string" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">This element is used for returns. It captures the cancelled amount of the order (Delta or after picture) from the OMS
Allowable Values: Decimal
Required: No
Length: 16.5
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Taxes" type="TaxesType" minOccurs="0"/>
			<xs:element name="Adjustments" type="PriceAdjustmentList" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This element contains a list of price adjustments for an order.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PromoInfoList" type="PromoInfoListType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PromoInfoListType">
		<xs:sequence>
			<xs:element name="PromoInfo" type="PromoInfoType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FeeListType">
		<xs:sequence>
			<xs:element name="Fee" type="FeePriceType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PriceAdjustmentList">
		<xs:sequence>
			<xs:element name="Adjustment" type="PriceAdjustment" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>This element contains details about a price adjustment.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PriceAdjustment">
		<xs:sequence>
			<xs:element name="Amount" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the amount of the price adjustment.
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeltaAmount" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">This element captures the Delta (or after picture) consistently from the OMS  
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A          		</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains a text description of the adjustment 
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Taxes" type="TaxesType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="LocaleCode">
		<xs:annotation>
			<xs:documentation>
                ISO-639 two-letter language code and ISO-3166 two-letter code
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="DateRange">
		<xs:sequence>
			<xs:element name="From" type="xs:date"/>
			<xs:element name="To" type="xs:date"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ItemId">
		<xs:annotation>
			<xs:documentation xml:lang="en">
                Represents the identifier for an inventoriable product.
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ChannelId">
		<xs:annotation>
			<xs:documentation>
                The name assigned to the channel.  Examples: 'FOG', 'TRUS'. This will be required
                as a top level attribute for all Service requests.
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="24"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrderId">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Gender">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MALE"/>
			<xs:enumeration value="FEMALE"/>
			<xs:enumeration value="UNKNOWN"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NameType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EmailType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="UserName">
		<xs:sequence>
			<xs:element name="Honorific" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A title you can assign to a person. Typically "Dr.", "Mr.", "Ms." etc.
Allowable Values: Text string.
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: Salutation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastName" type="NameType">
				<xs:annotation>
					<xs:documentation>The surname of the person.
Allowable Values: Text string.
Required: Yes
Length: 64
Default Value: blank
Restrictions: N/A
Aliases: N/A  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MiddleName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The middle name of the person.
Allowable Values: Text string.
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FirstName" type="NameType">
				<xs:annotation>
					<xs:documentation>The first name of the person.
Allowable Values: Text string.
Required: Yes
Length: 60
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Suffix" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A title you can append to a person's name. Typically "Jr.", "III" etc.
Allowable Values: Text string.
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: Salutation</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="StoreCodeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The store code. Internal representation of partner's store.
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LocaleType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Enumeration of the legal Locale's supported by the Retailing Engine</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="en"/>
			<xs:enumeration value="en_CA"/>
			<xs:enumeration value="en_US"/>
			<xs:enumeration value="fr"/>
			<xs:enumeration value="fr_CA"/>
			<xs:enumeration value="fr_FR"/>
			<xs:enumeration value="de_DE"/>
			<xs:enumeration value="es"/>
			<xs:enumeration value="es_US"/>
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="EmailAndNameType">
		<xs:sequence>
			<xs:element name="EmailAddress" type="EmailType"/>
			<xs:element name="FirstName" type="xs:string" nillable="true"/>
			<xs:element name="LastName" type="xs:string" nillable="true"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EmailAddressListType">
		<xs:sequence>
			<xs:element name="EmailAndName" type="EmailAndNameType" nillable="false" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MailToType">
		<xs:sequence>
			<xs:element name="EmailAddressList" type="EmailAddressListType" nillable="false"/>
			<xs:element name="ShareMessage" type="xs:string" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
                		The Message that gets sent to email recipients when you share your registry information with them
            		</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="RecordActionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Insert"/>
			<xs:enumeration value="Update"/>
			<xs:enumeration value="Delete"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ProductsType">
		<xs:sequence>
			<xs:element name="Product" type="ProductType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProductType">
		<xs:sequence>
			<xs:element name="MasterProductId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Represents the identifier for the product
Allowable Values: Text string
Required: Yes
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SKU" type="xs:string">
				<xs:annotation>
					<xs:documentation>The retailer's/client's/partner's SKU number or unique item identifier.
Allowable Values: Text string
Required: Yes
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UPC" type="UPCType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Allowable Values: Text string
Required: No
Length: 128
Default Value: blank
Restrictions: N/A
Aliases: N/A
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GlobalId" type="xs:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The Ebay Enterprise global item ID
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductTitle" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the product.
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Explanation of the product.
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductLink" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A URL to information about the product.
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductImageURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A URL to a picture of the product.
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductAddedDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date that the product was added to the order.
Allowable Values: ISO 8601 standard with offset from UTC in datetime data format which is yyyy-mm-ddTHH:mm:ss-hh:mm for e.g. 2012-01-11T14:19:05-06:00
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BrowserId" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates the type of browser the shopper is using to access the webstore.
Allowable Values: Text string that identifies the type of browser being used to place the order.
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SessionId" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unique identifier for the web session. Often used for fraud detection
Allowable Values: Text string used to uniquely identify the browser session when the order was placed.
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Quantity" type="xs:decimal">
				<xs:annotation>
					<xs:documentation>Specifies how many of the product are included in the order.
Allowable Values: Decimal
Required: Yes
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BasePrice" type="PriceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unit Price of merchandise before discounts or promotions or adjustments.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Price" type="PriceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Current unit price of merchandise after discounts, promotions, adjustments.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Category" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Not supported.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomizationServiceCharge" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Not supported.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Color" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The color of the item purchased.</xs:documentation>
				</xs:annotation>
				<xs:complexType mixed="true">
					<xs:attribute name="id" type="xs:string">
						<xs:annotation>
							<xs:documentation>The ID associated with the color.
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="Size" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The size of the item purchased.</xs:documentation>
				</xs:annotation>
				<xs:complexType mixed="true">
					<xs:attribute name="id" type="xs:string">
						<xs:annotation>
							<xs:documentation>The ID associated with the size.
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="BrandName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The brand name assoicated with the item.
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StyleNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The number associated with the style type of the item.
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VendorPartNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The part number the vendor has assigned to the item.
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BackInStockReasonCode" type="BackInStockReasonCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code that explains why the item is back in stock.
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemActionType" type="RecordActionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Visibility" type="VisibilityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates if the item is visible in the order.
Allowable Values: 
Visible
Hidden
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Availability" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QuantityPurchased" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Total number of the product purchased.
Allowable Values: Decimal
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalValues" type="KeyValuePairList" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains additional, client-defined attributes.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="VisibilityType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="visible"/>
			<xs:enumeration value="hidden"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ItemFeatureListType">
		<xs:sequence>
			<xs:element name="ItemFeature" type="ItemFeatureType" nillable="false" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ItemFeatureType">
		<xs:sequence>
			<xs:element name="FeatureTitle" type="xs:string" nillable="false">
				<xs:annotation>
					<xs:documentation>Descriptioni of the feature, such as monogram, logos, colors, etc.
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FeatureValue" type="xs:string" nillable="false">
				<xs:annotation>
					<xs:documentation>The type of feature, such as "AB", for initials, "Company Logo" for logo, or "red" for color.
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FeatureDisplayIndicator" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>How the feature is displayed in the order. This can, but is not required to match the FeatureTitle or FeatureValue.
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FeatureUnitPrice" type="PriceType" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The cost of one instance of the feature.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxCredit" type="TaxCreditType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="UPCType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The partner provided UPC for the product.
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BackInStockReasonCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BackInStock"/>
			<xs:enumeration value="BackInStockConfirmation"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrderNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
                The customer order identifier. The submitter's identifier for
                the customer's order.
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CustomerType">
		<xs:sequence>
			<xs:element name="Name" type="UserName"/>
			<xs:element name="EmailAddress" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Customer Email address, for example: mike@gsicommerce.com
Allowable Values: Text string
Required: Yes
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlternateEmailAddress" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Additional Customer Email address, for example: mike@gsicommerce.com
Allowable Values: Text string
Required: Yes
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LoyaltyProgramNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The loyalty account number assigned to the customer.
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlternateName" type="UserName" minOccurs="0"/>
			<xs:element name="CustomerId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The customer account number typically provided by the web store.
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EventHeaderType">
		<xs:sequence>
			<xs:element name="ChannelId" type="ChannelId" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the channel, often a brand name or region under a larger organization, where the order is placed.
Allowable Values: Text string
Required: No
Length: 24
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SourceId" type="xs:string" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the system where the order originated.
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Locale" type="LocaleCode" nillable="false">
				<xs:annotation>
					<xs:documentation>The locale code of the environment in which the order was placed.  The locale defines the language and country rules to be applied to the data.  
Allowable Values: Text string. The format is "ll_CC" where ll is the language argument and is a valid ISO Language Code. These codes are the lower_case, two_letter codes as defined by ISO_639.  CC is the upper_case, two_letter codes as defined by ISO_3166 ISO country code. 
Common values:
en_US - English/United States
fr_CA - French/Canada
en_GB - English/United Kingdom
de_DE - German/Germany
fr_FR - French/France
Required: Yes
Length: 5
Default Value: blank
Restrictions: N/A
Aliases: N/A.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EventSource" type="xs:string" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unique identifier of the System that originated the message.  For those messages originating from an Order Management System (OMS), it would be the unique OMS identifier.  For those messages originating from a Warehouse Management System (WMS), it would be the unique WMS identifier.
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SourceIdType" type="xs:string" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The descriptive category/name/code used to define the system that originated the message.
Allowable Values: 
OMS = Order Management System
WMS = Warehouse Management System
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Customer" type="CustomerType"/>
			<xs:element name="EventDate" type="xs:dateTime" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date and time of the transaction.
Allowable Values: ISO 8601 standard with offset from UTC in datetime data format which is yyyy-mm-ddTHH:mm:ss-hh:mm for e.g. 2012-01-11T14:19:05-06:00.
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A
</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrderHeaderType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Data common to every order.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EventHeader" type="EventHeaderType" nillable="false">
				<xs:annotation>
					<xs:documentation>This required field contains elements that describe the event.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WebstoreOrderNumber" type="OrderNumberType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Allowable Values: Text string. The number assigned to the order by the webstore.
Required: No
Length: 64
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExternalOrderNumber" type="OrderNumberType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Allowable Values: Text string. The number assigned to the order by an external source.
Required: No
Length: 64
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExternalOrderNumber2" type="OrderNumberType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Allowable Values: Text string. The number assigned to the order by an external source.
Required: No
Length: 64
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderNumber" type="OrderNumberType" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unique Identifier for an Order.
Allowable Values: Text string. 
Required: No
Length: 64
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderDate" type="xs:dateTime" nillable="false">
				<xs:annotation>
					<xs:documentation>Date and time the order was placed.
Allowable Values: ISO 8601 standard with offset from UTC in datetime data format which is yyyy-mm-ddTHH:mm:ss-hh:mm for e.g. 2012-01-11T14:19:05-06:00.
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CartId" type="xs:string" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unique Cart Identifier created by webstore, consumed by data warehouse among others to determine abandoned carts
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderType" type="xs:string" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates if the Order is a Test Order
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SIBusinessProcessId" type="xs:string" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unique Business Process Id created by SI, consumed by SI as part of b2b/Exchange Platform  integrations. 
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MarketplaceAccountId" type="xs:string" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Account ID for a single Account at a MarketPlace. This element is required for CA/US Marketplace implementation.
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MarketplaceBuyerId" type="xs:string" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Buyer ID For MarketPlace. This element is required for CA/US Marketplace implementation.
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderStatus" type="xs:string" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Holds information about the Order whether it was Partially Fulfilled, Partially Returned, Fully Returned etc. This element is required for JP Marketplace implementation
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsReshipCharge" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This flag in combination with the cancel reason code can be used to compute if the consumer is to be charged for a reshipped item and be emailed a corresponding message.
Allowable Values: Boolean. 
True - charge the consumer
Falsoe - do not charge the consumer
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A
</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InvoiceTenderItemType">
		<xs:sequence>
			<xs:element name="InvoiceTenderDescription" type="xs:string" nillable="false" minOccurs="0"/>
			<xs:element name="InvoiceTenderCardType" type="TenderCodeType" nillable="false" minOccurs="0"/>
			<xs:element name="InvoiceTenderCardDescription" type="xs:string" nillable="false" minOccurs="0"/>
			<xs:element name="InvoiceTenderAccountNumber" type="xs:string" nillable="false" minOccurs="0"/>
			<xs:element name="InvoiceTenderChargeAmount" type="PriceType" minOccurs="0"/>
			<xs:element name="PointsRedeemed" type="xs:decimal" minOccurs="0"/>
			<xs:element name="PurchaseOrderNumber" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InvoiceTendersListType">
		<xs:sequence>
			<xs:element name="InvoiceTenderItem" type="InvoiceTenderItemType" nillable="false" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TenderCodeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A two character value that designates the form of payment for
                the order. The code and the database are the authoratative source for these values.
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Taxability">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TAXABLE"/>
			<xs:enumeration value="NONTAXABLE"/>
			<xs:enumeration value="EXEMPT"/>
			<xs:enumeration value="DPPAPPLIED"/>
			<xs:enumeration value="NO_TAX"/>
			<xs:enumeration value="DEFERRED"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="JurisdictionType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="JurisdictionLevel" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>The level of the jurisdiction (ex. State, City)
Allowable Values: See the Appendix of the Ordersl API Guide for allowable values.
Required: Yes
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="JurisdictionId" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>The Vertex-specific number that identifies a juridiction
Allowable Values: String
Required: Yes
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ImpositionType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="ImpositionType" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>The type description assigned to the imposition.  When multiple impositions are imposed within a jurisdiction, each must have a different type. This is assigned either by Vertex or by the user when setting up a user-defined imposition in Vertex. 
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Tax">
		<xs:sequence>
			<xs:element name="Situs" type="xs:string">
				<xs:annotation>
					<xs:documentation>Address used in determining tax governance
Allowable Values: 
ADMINISTRATIVE_DESTINATION - Tax address of the receiving entity
ADMINISTRATIVE_ORIGIN - Tax address of the shipping entity
DESTINATION - Ship-to location
PHYSICAL_ORIGIN - Ship-from location
Required: Yes
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Jurisdiction" type="JurisdictionType" minOccurs="0"/>
			<xs:element name="Imposition" type="ImpositionType" minOccurs="0"/>
			<xs:element name="EffectiveRate" type="xs:decimal">
				<xs:annotation>
					<xs:documentation>The tax rate percentage that is being applied to the basis amount
Allowable Values: Decimal
Required: Yes
Length: 8.5
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxableAmount" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The amount of the line for which the tax is applicable.
Allowable Values: Decimal
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CalculatedTax" type="xs:decimal">
				<xs:annotation>
					<xs:documentation>The monetary amount of sales tax calculated by applying a set percentage to the line item. These percentages can vary by county, state and country.
Allowable Values: Decimal
Required: Yes
Length: 16.5
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeltaCalculatedTax" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Delta Tax Amount for Cancel/Return Event
Allowable Values: Decimal
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SellerRegistrationId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Used for European and APAC locations.
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="taxType" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Type of tax being imposed. 
Allowable Values: 
CONSUMERS_USE - use Tax applied to purchaser
IMPORT_VAT - VAT applied to the import of an item
NONE - No tax applied
SALES - Sales tax
SELLER_USE - Use tax applied to the selling organization
VAT - Value Added Tax
Required: Yes
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="taxability" type="Taxability" use="optional">
			<xs:annotation>
				<xs:documentation>Valued by tax system. 
Allowable Values: Values vary depending on the location. Possible sample values are – Taxable, Exempt, NO_TAX, NonTaxable
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TaxesType">
		<xs:sequence>
			<xs:element name="Tax" type="Tax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PromoInfoType">
		<xs:annotation>
			<xs:documentation>Contains details on a promotional offer.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PromoID" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The unique identifier for a promotion.
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PromoCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The promo code used to redeem a promotion
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A                        </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PromoType" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The type of promotion either an Item promotion or a shipping promotion
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A                        </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PromoAmount" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The amount or percentage of the promotion.
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeltaPromoAmount" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Delta promotion amount. The cost after the promotion is applied.
Allowable Values: Text string
Required: No
Length: TBD
Default Value: blank
Restrictions: N/A
Aliases: N/A                </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PromoTaxes" type="TaxesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the taxes for the order after the promotin has been applied.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxCreditType">
		<xs:sequence>
			<xs:element name="TaxCreditAmount" type="xs:string" nillable="false"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxType">
		<xs:sequence>
			<xs:element name="Currency" type="CurrencyType" nillable="false"/>
			<xs:element name="CurrencySymbol" type="CurrencySymbolType" nillable="false"/>
			<xs:element name="CurrencyAmount" type="xs:string" nillable="false"/>
		</xs:sequence>
		<xs:attribute name="taxType" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="SubLineItemsType">
		<xs:sequence>
			<xs:element name="SubLineItem" type="ProductType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FeePriceType">
		<xs:sequence>
			<xs:element name="FeeType" type="xs:string" minOccurs="0"/>
			<xs:element name="FeeDescription" type="xs:string" minOccurs="0"/>
			<xs:element name="Currency" type="CurrencyType" nillable="false"/>
			<xs:element name="CurrencySymbol" type="CurrencySymbolType" nillable="false"/>
			<xs:element name="CurrencyAmount" type="xs:string" nillable="false"/>
			<xs:element name="DeltaCurrencyAmount" type="xs:string" nillable="false" minOccurs="0"/>
			<xs:element name="Taxes" type="TaxesType" minOccurs="0"/>
			<xs:element name="Adjustments" type="PriceAdjustmentList" minOccurs="0"/>
			<xs:element name="PromoInfoList" type="PromoInfoListType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EventAttributeType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="Name" type="xs:string" use="optional"/>
				<xs:attribute name="NewValue" type="xs:string" use="optional"/>
				<xs:attribute name="OldValue" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EventAttributesType">
		<xs:sequence>
			<xs:element name="Attribute" type="EventAttributeType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ModificationType">
		<xs:sequence>
			<xs:element name="Attributes" type="EventAttributesType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="type" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ModificationsType">
		<xs:sequence>
			<xs:element name="Modification" type="ModificationType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
